@charset "UTF-8";
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.rounded-15 {
  border-radius: 15px !important;
}

.rounded-20 {
  border-radius: 20px !important;
}

.rounded-36 {
  border-radius: 36px !important;
}

.rounded-40 {
  border-radius: 40px !important;
}

.rounded-58 {
  border-radius: 58px !important;
}

.rounded-85 {
  border-radius: 85px !important;
}

.rounded-96 {
  border-radius: 96px !important;
}

.rounded-118 {
  border-radius: 118px !important;
}

.rounded-120 {
  border-radius: 120px !important;
}

.rounded-130 {
  border-radius: 130px !important;
}

.rounded-280 {
  border-radius: 280px !important;
}

.circle-15 {
  width: 15px;
  height: 15px;
  border-radius: 10rem;
}

.circle-20 {
  width: 20px;
  height: 20px;
  border-radius: 10rem;
}

.circle-36 {
  width: 36px;
  height: 36px;
  border-radius: 10rem;
}

.circle-40 {
  width: 40px;
  height: 40px;
  border-radius: 10rem;
}

.circle-58 {
  width: 58px;
  height: 58px;
  border-radius: 10rem;
}

.circle-85 {
  width: 85px;
  height: 85px;
  border-radius: 10rem;
}

.circle-96 {
  width: 96px;
  height: 96px;
  border-radius: 10rem;
}

.circle-118 {
  width: 118px;
  height: 118px;
  border-radius: 10rem;
}

.circle-120 {
  width: 120px;
  height: 120px;
  border-radius: 10rem;
}

.circle-130 {
  width: 130px;
  height: 130px;
  border-radius: 10rem;
}

.circle-280 {
  width: 280px;
  height: 280px;
  border-radius: 10rem;
}

@media all and (max-width: 992px) {
  .circle-sm-15 {
    width: 15px;
    height: 15px;
    border-radius: 10rem;
  }
  .circle-sm-20 {
    width: 20px;
    height: 20px;
    border-radius: 10rem;
  }
  .circle-sm-36 {
    width: 36px;
    height: 36px;
    border-radius: 10rem;
  }
  .circle-sm-40 {
    width: 40px;
    height: 40px;
    border-radius: 10rem;
  }
  .circle-sm-58 {
    width: 58px;
    height: 58px;
    border-radius: 10rem;
  }
  .circle-sm-85 {
    width: 85px;
    height: 85px;
    border-radius: 10rem;
  }
  .circle-sm-96 {
    width: 96px;
    height: 96px;
    border-radius: 10rem;
  }
  .circle-sm-118 {
    width: 118px;
    height: 118px;
    border-radius: 10rem;
  }
  .circle-sm-120 {
    width: 120px;
    height: 120px;
    border-radius: 10rem;
  }
  .circle-sm-130 {
    width: 130px;
    height: 130px;
    border-radius: 10rem;
  }
  .circle-sm-280 {
    width: 280px;
    height: 280px;
    border-radius: 10rem;
  }
}

.w-15 {
  width: 15px !important;
}

.w-20 {
  width: 20px !important;
}

.w-36 {
  width: 36px !important;
}

.w-40 {
  width: 40px !important;
}

.w-58 {
  width: 58px !important;
}

.w-85 {
  width: 85px !important;
}

.w-96 {
  width: 96px !important;
}

.w-118 {
  width: 118px !important;
}

.w-120 {
  width: 120px !important;
}

.w-130 {
  width: 130px !important;
}

.w-280 {
  width: 280px !important;
}

@media all and (max-width: 992px) {
  .w-sm-15 {
    width: 15px !important;
  }
  .w-sm-20 {
    width: 20px !important;
  }
  .w-sm-36 {
    width: 36px !important;
  }
  .w-sm-40 {
    width: 40px !important;
  }
  .w-sm-58 {
    width: 58px !important;
  }
  .w-sm-85 {
    width: 85px !important;
  }
  .w-sm-96 {
    width: 96px !important;
  }
  .w-sm-118 {
    width: 118px !important;
  }
  .w-sm-120 {
    width: 120px !important;
  }
  .w-sm-130 {
    width: 130px !important;
  }
  .w-sm-280 {
    width: 280px !important;
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden !important;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  scroll-behavior: smooth;
}

a[href] {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  padding: 0 1rem;
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1408px;
  }
}

@media screen and (min-width: 992px) {
  .container-lg {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1600px) {
  .container-lg {
    max-width: 1600px !important;
  }
}

.multiline-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#ph_main .global-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

@media screen and (min-width: 1700px) {
  #placeholder {
    font-size: 22px !important;
  }
}

@media screen and (min-width: 1200px) {
  .text-lg-nowrap {
    white-space: nowrap;
  }
}

.pill {
  border-radius: 10rem !important;
}

.devide-3 {
  width: 33.33%;
}

ul.tabs div::-webkit-scrollbar {
  display: none;
}

ul.tabs div li {
  padding: 0;
}

ul.tabs div li a.nav-link.active {
  color: black;
  background-color: white !important;
}

ul.tabs div li {
  padding: 0;
}

ul.tabs div li.active {
  background-color: white !important;
  border-bottom: 3px solid #ff7a59 !important;
  font-weight: 700;
  margin-top: 0px;
}

ul.tabs div li.active a.nav-link {
  color: #ff7a59 !important;
}

.history-area .bold-border-primary {
  border-top: 3px solid #32475b;
}

.history-area .bold-border-gray {
  border-top: 3px solid gray;
}

@media all and (min-width: 992px) {
  .history-area .bold-border-primary {
    border-top: 4px solid #32475b;
  }
  .history-area .bold-border-gray {
    border-top: 4px solid gray;
  }
}

.tab-active-primary {
  border: none !important;
  background-color: #3f507a !important;
}

.tab-active-primary span {
  color: white !important;
}

.short-bar {
  width: 24px !important;
  height: 4px !important;
  background-color: #c9c9c9;
}

.align-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-item .page-link {
  border: none !important;
  color: #767676;
}

.page-item.active .page-link {
  border-radius: 10rem;
  border: none;
  background-color: #f6f7fa;
  color: black;
}

.underlined {
  text-decoration: underline;
}

.nav-stick {
  width: 30px;
  height: 2px;
  background-color: #2d3e50;
  border-radius: 5rem;
}

@media all and (max-width: 992px) {
  .nav-logo {
    max-width: 115px;
  }
}

.main-illust-men {
  bottom: -6.2%;
  left: 27%;
  z-index: 10;
  width: 47%;
}

@media all and (max-width: 767px) {
  .main-illust-men {
    bottom: -3.2%;
    left: -5%;
    z-index: 10;
    width: 65%;
  }
}

.main-contexts {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  .main-contexts {
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.icon-list::-webkit-scrollbar {
  display: none !important;
}

.main-illust-women {
  bottom: 0;
  width: 75%;
}

@media all and (max-width: 992px) {
  .main-illust-women {
    bottom: 0;
    width: 90%;
  }
}

.map-illust {
  width: 50%;
}

@media all and (max-width: 992px) {
  .map-illust {
    width: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

.tab-scroll {
  overflow-x: scroll;
}

.tab-scroll::-webkit-scrollbar {
  display: none;
}

.main-apply {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 992px) {
  .main-apply {
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.about-main {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 992px) {
  .about-main {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.notice-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 992px) {
  .notice-main {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    background-color: #3f507a;
    padding: 3rem 0;
  }
}

@media all and (max-width: 992px) {
  .w-sm-100p {
    width: 100%;
  }
}

@media all and (min-width: 992px) {
  .w-lg-75p {
    width: 75% !important;
  }
}

@media all and (max-width: 992px) {
  .bg-sm-none {
    background: none !important;
  }
}

@media all and (max-width: 992px) {
  .mt-lg-n7 {
    margin-top: -7rem;
  }
}

.pt-7 {
  padding-top: 5rem;
}

@media all and (min-width: 992px) {
  .pt-7 {
    padding-top: 7rem;
  }
}

@media all and (max-width: 992px) {
  .pb-sm-100 {
    padding-bottom: 100%;
  }
}

@media all and (min-width: 992px) {
  .h-lg-400 {
    height: 400px;
  }
}

.set-service-slick .slick-dots {
  margin-bottom: -0.8rem !important;
}

.set-system-slick .slick-dots {
  margin-bottom: 0.8rem !important;
}

.slick-dots li {
  margin: 0;
  width: 13px;
  height: 13px;
}

.slick-dots li button {
  width: 13px;
  height: 13px;
}

.slick-dots li button:before {
  line-height: 13px;
  width: 13px;
  height: 13px;
}

@media all and (min-width: 1650px) {
  .d-xxl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 992px) {
  .modal-lg {
    max-width: 75vw;
  }
}

@media all and (max-width: 767px) {
  .modal-lg .modal-body {
    padding: 0 5rem !important;
  }
}

.modal-slick div {
  width: 100%;
}

.modal-slick div .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-slick div .slick-track img {
  width: 100%;
}

.slick-arrow {
  top: unset;
  bottom: -3.5rem;
}

.slick-arrow.slick-prev {
  background: center/contain no-repeat url("../assets/icon/prev.svg");
  width: 30px;
  height: 30px;
  left: -30px;
}

.slick-arrow.slick-prev:before {
  content: "이전";
  padding-top: 2.5rem;
  display: block;
  font-size: 12px;
}

.slick-arrow.slick-next {
  background: center/contain no-repeat url("../assets/icon/next.svg");
  width: 30px;
  height: 30px;
  right: -30px;
}

.slick-arrow.slick-next:before {
  content: "다음";
  padding-top: 2.5rem;
  display: block;
  font-size: 12px;
}

@media all and (min-width: 767px) and (max-width: 1600px) {
  .slick-arrow {
    top: unset;
    bottom: 3%;
  }
  .slick-arrow.slick-prev {
    width: 50px;
    height: 50px;
    left: -60px;
  }
  .slick-arrow.slick-prev:before {
    font-size: 12px;
    padding-top: 4rem;
    display: block;
  }
  .slick-arrow.slick-next {
    width: 50px;
    height: 50px;
    right: -60px;
  }
  .slick-arrow.slick-next:before {
    font-size: 12px;
    padding-top: 4rem;
    display: block;
  }
}

@media all and (min-width: 1600px) {
  .slick-arrow {
    top: unset;
    bottom: 3%;
  }
  .slick-arrow.slick-prev {
    width: 70px;
    height: 70px;
    left: -90px;
  }
  .slick-arrow.slick-prev:before {
    font-size: 14px;
    padding-top: 6rem;
    display: block;
  }
  .slick-arrow.slick-next {
    width: 70px;
    height: 70px;
    right: -90px;
  }
  .slick-arrow.slick-next:before {
    font-size: 14px;
    padding-top: 6rem;
    display: block;
  }
}

.bs-popover-top > .arrow::after {
  border-width: 0;
}

.bs-popover-top > .arrow::before {
  border-width: 0;
}

.pin-buttons .pins {
  width: 16px;
  height: 16px;
  position: relative;
  border: 2px solid #c9c9c9;
  border-radius: 3rem;
  background-color: white;
}

.pin-buttons:hover .pins {
  border: 2px solid #7796fe;
}

.pin-buttons:hover .inner-pin {
  background-color: #7796fe;
}

.pin-buttons .inner-pin {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #c9c9c9;
  border-radius: 3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  .pin-buttons {
    width: 12px;
    height: 12px;
  }
  .pin-buttons .inner-pin {
    width: 5px;
    height: 5px;
  }
}

.popover {
  border: 2px solid #7796fe;
  color: #7796fe;
  border-radius: 20px;
  overflow: hidden;
  padding: 0.5rem;
}

.popover .popover-header {
  background-color: white;
  font-size: 26px;
  font-weight: bold;
  border: none;
}

.popover .popover-body {
  font-size: 20px;
  border: none;
}

@media all and (max-width: 767px) {
  .popover {
    padding: 1rem 0.5rem;
  }
  .popover .popover-header {
    font-size: 14px;
    padding: 0 12px 5px 12px !important;
  }
  .popover .popover-header header {
    padding: 0;
  }
  .popover .popover-body {
    font-size: 10px;
    padding: 0 12px;
  }
}

.elem-title {
  opacity: 1;
}

@media all and (max-width: 991px) {
  .elem-title {
    opacity: 0;
    margin-top: 2rem;
  }
}

.show-title {
  opacity: 1 !important;
  margin-top: 0 !important;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.show-meta {
  opacity: 1 !important;
  margin-top: 0 !important;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.show-phone {
  opacity: 1 !important;
  margin-top: 0 !important;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-phone {
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
}

.show-text {
  opacity: 1 !important;
  top: 20% !important;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-text {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
  }
}

.show-cloud {
  opacity: 1 !important;
  top: 33% !important;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-cloud {
    -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s;
  }
}

.show-car {
  opacity: 1 !important;
  top: 40% !important;
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-car {
    -webkit-transition-delay: 1.6s;
            transition-delay: 1.6s;
  }
}

.show-first {
  opacity: 1 !important;
  top: 70% !important;
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-first {
    -webkit-transition-delay: 2s;
            transition-delay: 2s;
  }
}

.show-second {
  opacity: 1 !important;
  top: 83% !important;
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-second {
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
  }
}

.show-third {
  opacity: 1 !important;
  top: 96% !important;
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-third {
    -webkit-transition-delay: 2.2s;
            transition-delay: 2.2s;
  }
}

.show-talk {
  opacity: 1 !important;
  top: -5% !important;
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media all and (max-width: 991px) {
  .show-talk {
    -webkit-transition-delay: 2.6s;
            transition-delay: 2.6s;
  }
}

@media all and (max-width: 991px) {
  .h-md-336 {
    height: 336px;
  }
}

/*# sourceMappingURL=commons.css.map */