@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");
.text-noto-sans,
body {
  font-family: "Noto Sans KR", sans-serif !important;
  color: #333333;
}

.text-noto {
  font-family: "Noto Sans KR", sans-serif;
}

.text-smg {
  font-family: "Sorts Mill Goudy", serif;
  line-height: 0.95;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

small,
.small {
  font-size: 14px !important;
}

.text-9 {
  font-size: 9px !important;
}

.text-10 {
  font-size: 10px !important;
}

.text-12 {
  font-size: 12px !important;
}

.text-13 {
  font-size: 13px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-15 {
  font-size: 15px !important;
}

.text-16 {
  font-size: 16px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-20 {
  font-size: 20px !important;
}

.text-22 {
  font-size: 22px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-26 {
  font-size: 26px !important;
}

.text-28 {
  font-size: 28px !important;
}

.text-30 {
  font-size: 30px !important;
}

.text-32 {
  font-size: 32px !important;
}

.text-34 {
  font-size: 34px !important;
}

.text-36 {
  font-size: 36px !important;
}

.text-38 {
  font-size: 38px !important;
}

.text-40 {
  font-size: 40px !important;
}

.text-42 {
  font-size: 42px !important;
}

.text-48 {
  font-size: 48px !important;
}

.text-56 {
  font-size: 56px !important;
}

.text-64 {
  font-size: 64px !important;
}

.text-72 {
  font-size: 72px !important;
}

.text-100 {
  font-size: 100px !important;
}

@media screen and (min-width: 992px) and (max-width: 1799px) {
  .text-lg-9 {
    font-size: 9px !important;
  }
  .text-lg-10 {
    font-size: 10px !important;
  }
  .text-lg-12 {
    font-size: 12px !important;
  }
  .text-lg-13 {
    font-size: 13px !important;
  }
  .text-lg-14 {
    font-size: 14px !important;
  }
  .text-lg-15 {
    font-size: 15px !important;
  }
  .text-lg-16 {
    font-size: 16px !important;
  }
  .text-lg-18 {
    font-size: 18px !important;
  }
  .text-lg-20 {
    font-size: 20px !important;
  }
  .text-lg-22 {
    font-size: 22px !important;
  }
  .text-lg-24 {
    font-size: 24px !important;
  }
  .text-lg-26 {
    font-size: 26px !important;
  }
  .text-lg-28 {
    font-size: 28px !important;
  }
  .text-lg-30 {
    font-size: 30px !important;
  }
  .text-lg-32 {
    font-size: 32px !important;
  }
  .text-lg-34 {
    font-size: 34px !important;
  }
  .text-lg-36 {
    font-size: 36px !important;
  }
  .text-lg-38 {
    font-size: 38px !important;
  }
  .text-lg-40 {
    font-size: 40px !important;
  }
  .text-lg-42 {
    font-size: 42px !important;
  }
  .text-lg-48 {
    font-size: 48px !important;
  }
  .text-lg-56 {
    font-size: 56px !important;
  }
  .text-lg-64 {
    font-size: 64px !important;
  }
  .text-lg-72 {
    font-size: 72px !important;
  }
  .text-lg-100 {
    font-size: 100px !important;
  }
}

@media screen and (min-width: 1800px) {
  .text-xl-9 {
    font-size: 9px !important;
  }
  .text-xl-10 {
    font-size: 10px !important;
  }
  .text-xl-12 {
    font-size: 12px !important;
  }
  .text-xl-13 {
    font-size: 13px !important;
  }
  .text-xl-14 {
    font-size: 14px !important;
  }
  .text-xl-15 {
    font-size: 15px !important;
  }
  .text-xl-16 {
    font-size: 16px !important;
  }
  .text-xl-18 {
    font-size: 18px !important;
  }
  .text-xl-20 {
    font-size: 20px !important;
  }
  .text-xl-22 {
    font-size: 22px !important;
  }
  .text-xl-24 {
    font-size: 24px !important;
  }
  .text-xl-26 {
    font-size: 26px !important;
  }
  .text-xl-28 {
    font-size: 28px !important;
  }
  .text-xl-30 {
    font-size: 30px !important;
  }
  .text-xl-32 {
    font-size: 32px !important;
  }
  .text-xl-34 {
    font-size: 34px !important;
  }
  .text-xl-36 {
    font-size: 36px !important;
  }
  .text-xl-38 {
    font-size: 38px !important;
  }
  .text-xl-40 {
    font-size: 40px !important;
  }
  .text-xl-42 {
    font-size: 42px !important;
  }
  .text-xl-48 {
    font-size: 48px !important;
  }
  .text-xl-56 {
    font-size: 56px !important;
  }
  .text-xl-64 {
    font-size: 64px !important;
  }
  .text-xl-72 {
    font-size: 72px !important;
  }
  .text-xl-100 {
    font-size: 100px !important;
  }
}

.lh-100 {
  line-height: 1;
}

.lh-135 {
  line-height: 1.35;
}

.lh-150 {
  line-height: 1.5;
}

.lh-155 {
  line-height: 1.55;
}

.lh-160 {
  line-height: 1.6;
}

.lh-165 {
  line-height: 1.65;
}

.lh-170 {
  line-height: 1.7;
}

.lh-175 {
  line-height: 1.75;
}

.lh-180 {
  line-height: 1.8;
}

.lh-190 {
  line-height: 1.9;
}

.lh-200 {
  line-height: 2;
}

body,
p {
  word-break: keep-all !important;
}

.section-title {
  margin: 2rem 0;
}

.section-title h3 {
  position: relative;
  font-size: 24px;
  color: #000000;
  font-weight: 500;
  padding-left: 1rem;
}

.section-title h3:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  left: 0;
  background: #002257;
}

.text-underline {
  text-decoration: underline;
}

.letter-space-sm {
  letter-spacing: 0.2rem;
}

.text-strike {
  text-decoration: line-through !important;
}

.text-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=fonts.css.map */