i.icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

i.icon.dot {
  position: relative;
}

i.icon.dot:after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: #002257;
  top: 2px;
  right: 2px;
  border-radius: 50%;
}

i.icon.icon-8 {
  min-width: 8px !important;
  width: 8px;
  height: 8px;
}

i.icon.icon-12 {
  min-width: 12px !important;
  width: 12px;
  height: 12px;
}

i.icon.icon-14 {
  min-width: 14px !important;
  width: 14px;
  height: 14px;
}

i.icon.icon-16 {
  min-width: 16px !important;
  width: 16px;
  height: 16px;
}

i.icon.icon-18 {
  min-width: 18px !important;
  width: 18px;
  height: 18px;
}

i.icon.icon-20 {
  min-width: 20px !important;
  width: 20px;
  height: 20px;
}

i.icon.icon-21 {
  min-width: 21px !important;
  width: 21px;
  height: 21px;
}

i.icon.icon-22 {
  min-width: 22px !important;
  width: 22px;
  height: 22px;
}

i.icon.icon-24 {
  min-width: 24px !important;
  width: 24px;
  height: 24px;
}

i.icon.icon-25 {
  min-width: 25px !important;
  width: 25px;
  height: 25px;
}

i.icon.icon-28 {
  min-width: 28px !important;
  width: 28px;
  height: 28px;
}

i.icon.icon-32 {
  min-width: 32px !important;
  width: 32px;
  height: 32px;
}

i.icon.icon-34 {
  min-width: 34px !important;
  width: 34px;
  height: 34px;
}

i.icon.icon-40 {
  min-width: 40px !important;
  width: 40px;
  height: 40px;
}

i.icon.icon-45 {
  min-width: 45px !important;
  width: 45px;
  height: 45px;
}

i.icon.icon-48 {
  min-width: 48px !important;
  width: 48px;
  height: 48px;
}

i.icon.icon-50 {
  min-width: 50px !important;
  width: 50px;
  height: 50px;
}

i.icon.icon-65 {
  min-width: 65px !important;
  width: 65px;
  height: 65px;
}

i.icon.icon-70 {
  min-width: 70px !important;
  width: 70px;
  height: 70px;
}

i.icon.icon-80 {
  min-width: 80px !important;
  width: 80px;
  height: 80px;
}

i.icon.icon-96 {
  min-width: 96px !important;
  width: 96px;
  height: 96px;
}

i.icon.icon-100 {
  min-width: 100px !important;
  width: 100px;
  height: 100px;
}

i.icon.icon-furniture-1 {
  background-image: url(../assets/icon/furniture-1.svg);
}

i.icon.icon-furniture-2 {
  background-image: url(../assets/icon/furniture-2.svg);
}

i.icon.icon-furniture-3 {
  background-image: url(../assets/icon/furniture-3.svg);
}

i.icon.icon-furniture-4 {
  background-image: url(../assets/icon/furniture-4.svg);
}

i.icon.icon-furniture-5 {
  background-image: url(../assets/icon/furniture-5.svg);
}

i.icon.icon-furniture-6 {
  background-image: url(../assets/icon/furniture-6.svg);
}

i.icon.icon-furniture-7 {
  background-image: url(../assets/icon/furniture-7.svg);
}

i.icon.icon-good {
  background-image: url(../assets/icon/good.svg);
}

i.icon.icon-box {
  background-image: url(../assets/icon/box.svg);
}

i.icon.icon-calendar {
  background-image: url(../assets/icon/calendar.svg);
}

i.icon.icon-setting {
  background-image: url(../assets/icon/setting.svg);
}

i.icon.icon-coin {
  background-image: url(../assets/icon/coin.svg);
}

i.icon.icon-bulb {
  background-image: url(../assets/icon/bulb.svg);
}

i.icon.icon-plus {
  background-image: url(../assets/icon/plus.svg);
}

i.icon.icon-check {
  background-image: url(../assets/icon/check.svg);
}

i.icon.icon-as {
  background-image: url(../assets/icon/as.svg);
}

i.icon.icon-builtin {
  background-image: url(../assets/icon/builtin.svg);
}

i.icon.icon-delivery {
  background-image: url(../assets/icon/delivery.svg);
}

i.icon.icon-install {
  background-image: url(../assets/icon/install.svg);
}

i.icon.icon-moving {
  background-image: url(../assets/icon/moving.svg);
}

i.icon.icon-diy {
  background-image: url(../assets/icon/diy.svg);
}

i.icon.icon-managemaent {
  background-image: url(../assets/icon/managemaent.svg);
}

i.icon.icon-mobile {
  background-image: url(../assets/icon/mobile.svg);
}

i.icon.icon-shipping {
  background-image: url(../assets/icon/shipping.svg);
}

i.icon.icon-storage {
  background-image: url(../assets/icon/storage.svg);
}

i.icon.icon-apple {
  background-image: url(../assets/icon/apple.svg);
}

i.icon.icon-google {
  background-image: url(../assets/icon/google.svg);
}

i.icon.icon-call {
  background-image: url(../assets/icon/call.svg);
}

i.icon.icon-pin {
  background-image: url(../assets/icon/pin.svg);
}

i.icon.icon-prev {
  background-image: url(../assets/icon/prev.svg);
}

i.icon.icon-next {
  background-image: url(../assets/icon/next.svg);
}

i.icon.icon-search {
  background-image: url(../assets/icon/search.svg);
}

i.icon.icon-facebook {
  background-image: url(../assets/icon/facebook.svg);
}

i.icon.icon-instagram {
  background-image: url(../assets/icon/instagram.svg);
}

i.icon.icon-twitter {
  background-image: url(../assets/icon/twitter.svg);
}

i.icon.icon-top {
  background-image: url(../assets/icon/top.svg);
}

i.icon.icon-more {
  background-image: url(../assets/icon/more.svg);
}

i.icon.icon-file {
  background-image: url(../assets/icon/file.svg);
}

i.icon.icon-arrow-prev {
  background-image: url(../assets/icon/arrow-prev.svg);
}

i.icon.icon-arrow-next {
  background-image: url(../assets/icon/arrow-next.svg);
}

.appear {
  position: relative;
}

.appear .icon-after {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.appear input {
  height: 48px;
}

@media screen and (max-width: 756px) {
  i.icon.icon-sm-8 {
    min-width: 8px;
    width: 8px;
    height: 8px;
  }
  i.icon.icon-sm-10 {
    min-width: 10px;
    width: 10px;
    height: 10px;
  }
  i.icon.icon-sm-12 {
    min-width: 12px;
    width: 12px;
    height: 12px;
  }
  i.icon.icon-sm-14 {
    min-width: 14px;
    width: 14px;
    height: 14px;
  }
  i.icon.icon-sm-16 {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  i.icon.icon-sm-18 {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
  i.icon.icon-sm-20 {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  i.icon.icon-sm-21 {
    min-width: 21px;
    width: 21px;
    height: 21px;
  }
  i.icon.icon-sm-24 {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
  i.icon.icon-sm-28 {
    min-width: 28px;
    width: 28px;
    height: 28px;
  }
  i.icon.icon-sm-30 {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  i.icon.icon-sm-32 {
    min-width: 32px;
    width: 32px;
    height: 32px;
  }
  i.icon.icon-sm-40 {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  i.icon.icon-sm-46 {
    min-width: 46px;
    width: 46px;
    height: 46px;
  }
}

@media screen and (min-width: 756px) and (max-width: 1200px) {
  i.icon.icon-md-8 {
    min-width: 8px;
    width: 8px;
    height: 8px;
  }
  i.icon.icon-md-10 {
    min-width: 10px;
    width: 10px;
    height: 10px;
  }
  i.icon.icon-md-12 {
    min-width: 12px;
    width: 12px;
    height: 12px;
  }
  i.icon.icon-md-14 {
    min-width: 14px;
    width: 14px;
    height: 14px;
  }
  i.icon.icon-md-16 {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  i.icon.icon-md-18 {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
  i.icon.icon-md-20 {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  i.icon.icon-md-21 {
    min-width: 21px;
    width: 21px;
    height: 21px;
  }
  i.icon.icon-md-24 {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
  i.icon.icon-md-28 {
    min-width: 28px;
    width: 28px;
    height: 28px;
  }
  i.icon.icon-md-30 {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  i.icon.icon-md-32 {
    min-width: 32px;
    width: 32px;
    height: 32px;
  }
  i.icon.icon-md-40 {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  i.icon.icon-md-46 {
    min-width: 46px;
    width: 46px;
    height: 46px;
  }
}
/*# sourceMappingURL=icons.css.map */