.bg-img {
  background: center no-repeat;
  background-size: cover;
}

.bg-img.ratio-5 {
  padding-bottom: 5%;
}

.bg-img.ratio-6 {
  padding-bottom: 6%;
}

.bg-img.ratio-7 {
  padding-bottom: 7%;
}

.bg-img.ratio-8 {
  padding-bottom: 8%;
}

.bg-img.ratio-10 {
  padding-bottom: 10%;
}

.bg-img.ratio-11 {
  padding-bottom: 11%;
}

.bg-img.ratio-12 {
  padding-bottom: 12%;
}

.bg-img.ratio-15 {
  padding-bottom: 15%;
}

.bg-img.ratio-20 {
  padding-bottom: 20%;
}

.bg-img.ratio-25 {
  padding-bottom: 25%;
}

.bg-img.ratio-30 {
  padding-bottom: 30%;
}

.bg-img.ratio-31 {
  padding-bottom: 31%;
}

.bg-img.ratio-33 {
  padding-bottom: 33%;
}

.bg-img.ratio-34 {
  padding-bottom: 34%;
}

.bg-img.ratio-35 {
  padding-bottom: 35%;
}

.bg-img.ratio-40 {
  padding-bottom: 40%;
}

.bg-img.ratio-45 {
  padding-bottom: 45%;
}

.bg-img.ratio-50 {
  padding-bottom: 50%;
}

.bg-img.ratio-55 {
  padding-bottom: 55%;
}

.bg-img.ratio-60 {
  padding-bottom: 60%;
}

.bg-img.ratio-65 {
  padding-bottom: 65%;
}

.bg-img.ratio-70 {
  padding-bottom: 70%;
}

.bg-img.ratio-75 {
  padding-bottom: 75%;
}

.bg-img.ratio-80 {
  padding-bottom: 80%;
}

.bg-img.ratio-85 {
  padding-bottom: 85%;
}

.bg-img.ratio-90 {
  padding-bottom: 90%;
}

.bg-img.ratio-95 {
  padding-bottom: 95%;
}

.bg-img.ratio-100 {
  padding-bottom: 100%;
}

.bg-img.ratio-101 {
  padding-bottom: 101%;
}

.bg-img.ratio-102 {
  padding-bottom: 102%;
}

.bg-img.ratio-103 {
  padding-bottom: 103%;
}

.bg-img.ratio-105 {
  padding-bottom: 105%;
}

.bg-img.ratio-110 {
  padding-bottom: 110%;
}

.bg-img.ratio-115 {
  padding-bottom: 115%;
}

.bg-img.ratio-120 {
  padding-bottom: 120%;
}

.bg-img.ratio-125 {
  padding-bottom: 125%;
}

.bg-img.ratio-130 {
  padding-bottom: 130%;
}

.bg-img.ratio-135 {
  padding-bottom: 135%;
}

.bg-img.ratio-140 {
  padding-bottom: 140%;
}

.bg-img.ratio-145 {
  padding-bottom: 145%;
}

.bg-img.ratio-150 {
  padding-bottom: 150%;
}

.bg-img.ratio-160 {
  padding-bottom: 160%;
}

.bg-img.ratio-180 {
  padding-bottom: 180%;
}

.bg-img.ratio-200 {
  padding-bottom: 200%;
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-5 {
    padding-bottom: 5%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-6 {
    padding-bottom: 6%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-7 {
    padding-bottom: 7%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-8 {
    padding-bottom: 8%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-10 {
    padding-bottom: 10%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-11 {
    padding-bottom: 11%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-12 {
    padding-bottom: 12%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-15 {
    padding-bottom: 15%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-20 {
    padding-bottom: 20%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-25 {
    padding-bottom: 25%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-30 {
    padding-bottom: 30%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-31 {
    padding-bottom: 31%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-33 {
    padding-bottom: 33%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-34 {
    padding-bottom: 34%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-35 {
    padding-bottom: 35%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-40 {
    padding-bottom: 40%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-45 {
    padding-bottom: 45%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-50 {
    padding-bottom: 50%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-55 {
    padding-bottom: 55%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-60 {
    padding-bottom: 60%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-65 {
    padding-bottom: 65%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-70 {
    padding-bottom: 70%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-75 {
    padding-bottom: 75%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-80 {
    padding-bottom: 80%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-85 {
    padding-bottom: 85%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-90 {
    padding-bottom: 90%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-95 {
    padding-bottom: 95%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-100 {
    padding-bottom: 100%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-101 {
    padding-bottom: 101%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-102 {
    padding-bottom: 102%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-103 {
    padding-bottom: 103%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-105 {
    padding-bottom: 105%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-110 {
    padding-bottom: 110%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-115 {
    padding-bottom: 115%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-120 {
    padding-bottom: 120%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-125 {
    padding-bottom: 125%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-130 {
    padding-bottom: 130%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-135 {
    padding-bottom: 135%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-140 {
    padding-bottom: 140%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-145 {
    padding-bottom: 145%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-150 {
    padding-bottom: 150%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-160 {
    padding-bottom: 160%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-180 {
    padding-bottom: 180%;
  }
}

@media all and (max-width: 768px) {
  .bg-img.ratio-sm-200 {
    padding-bottom: 200%;
  }
}

.ratio-sm-
.bg-img {
  position: relative;
}

.ratio-sm-
.bg-img .image-badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.ratio-sm-
.bg-img.badge-hover-show .image-badge {
  display: none !important;
}

.ratio-sm-
.bg-img.badge-hover-show:hover .image-badge {
  display: block !important;
}
/*# sourceMappingURL=images.css.map */