<#-- PARSLEY-->
<script src="<@spring.url "/ad/vendor/parsleyjs/dist/parsley.min.js"/>"></script>
<script src="<@spring.url"/ad/vendor/parsleyjs/dist/i18n/ko.js"/>"></script>
<#-- INPUT MASK-->
<script src="<@spring.url"/ad/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.js"/>"></script>
<#-- MOMENT JS-->
<script src="<@spring.url"/ad/vendor/moment/min/moment-with-locales.min.js"/>"></script>
<#-- DATETIMEPICKER-->
<script src="<@spring.url"/ad/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"/>"></script>
<#-- SWEET ALERT-->
<script src="<@spring.url"/ad/vendor/sweetalert/dist/sweetalert.min.js"/>"></script>
<#-- DOWNLOAD -->
<script src="<@spring.url"/ad/vendor/downloadjs/download.min.js"/>"></script>
<#-- FROALA WYSIWYG -->
<script src="<@spring.url "/ad/vendor/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js"/>"></script>
<script src="<@spring.url "/ad/vendor/froala-wysiwyg-editor/js/languages/ko.js"/>"></script>
<!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
