@for $var from 0 through 10 {
  &.opacity-#{$var} {
    opacity: #{$var/10};
  }
}

@for $var from 1 through 5 {
  &.border-#{$var} {
    border-width: #{$var}px !important;
  }
}

$custom-width: (15, 20, 36, 40, 58, 85, 96, 118, 120, 130, 280);
@each $var in $custom-width {
  &.rounded-#{$var} {
    border-radius: #{$var}px !important;
  }
}
@each $var in $custom-width {
  &.circle-#{$var} {
    width: #{$var}px;
    height: #{$var}px;
    border-radius: 10rem;
  }
}
@media all and (max-width: 992px) {
  @each $var in $custom-width {
    &.circle-sm-#{$var} {
      width: #{$var}px;
      height: #{$var}px;
      border-radius: 10rem;
    }
  }
}

@each $var in $custom-width {
  &.w-#{$var} {
    width: #{$var}px !important;
  }
}
@media all and (max-width: 992px) {
  @each $var in $custom-width {
    &.w-sm-#{$var} {
      width: #{$var}px !important;
    }
  }
}
html,
body {
  // background-color: #ece4d2 !important;
  width: 100vw;
  overflow-x: hidden !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  scroll-behavior: smooth;
}

a[href] {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  padding: 0 1rem;
}
@media screen and (min-width: 1700px) {
  .container {
    // max-width: 1356px;
    max-width: 1408px;
  }
}

// sm = Small ≥576px
$sm: 576px;

// md = Medium ≥768px
$md: 767px;

// lg = Large ≥992px
$lg: 992px;

// xl = Extra large ≥1200px
$xl: 1600px;

.container-lg {
  @media screen and (min-width: $lg) {
    max-width: 1200px;
  }
  @media screen and (min-width: $xl) {
    max-width: 1600px !important;
  }
}

.multiline-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#ph_main {
  .global-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
  }
}

#placeholder {
  @media screen and (min-width: 1700px) {
    font-size: 22px !important;
  }
}

.text-lg-nowrap {
  @media screen and (min-width: 1200px) {
    white-space: nowrap;
  }
}

.pill {
  border-radius: 10rem !important;
}

.devide-3 {
  width: 33.33%;
}

ul.tabs {
  div {
    // overflow
    &::-webkit-scrollbar {
      display: none;
    }
    // 기존 bootstrap a.active 제대로 작동하지 않아서 스타일 초기화
    li {
      padding: 0;
      a.nav-link {
        &.active {
          color: black;
          background-color: white !important;
        }
      }
    }
    // js - li에 active class 추가
    li {
      padding: 0;
      &.active {
        background-color: white !important;
        border-bottom: 3px solid #ff7a59 !important;
        font-weight: 700;
        margin-top: 0px;
        a.nav-link {
          color: #ff7a59 !important;
        }
      }
    }
  }
}

.history-area {
  .bold-border-primary {
    border-top: 3px solid #32475b;
  }
  .bold-border-gray {
    border-top: 3px solid gray;
  }
  @media all and (min-width: $lg) {
    .bold-border-primary {
      border-top: 4px solid #32475b;
    }
    .bold-border-gray {
      border-top: 4px solid gray;
    }
  }
}

.tab-active-primary {
  border: none !important;
  background-color: #3f507a !important;
  span {
    color: white !important;
  }
}

.short-bar {
  width: 24px !important;
  height: 4px !important;
  background-color: #c9c9c9;
}

.align-centered {
  display: flex;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-item {
  .page-link {
    border: none !important;
    color: #767676;
  }

  &.active {
    .page-link {
      border-radius: 10rem;
      border: none;
      background-color: #f6f7fa;
      color: black;
    }
  }
}

.underlined {
  text-decoration: underline;
}

.nav-stick {
  width: 30px;
  height: 2px;
  background-color: #2d3e50;
  border-radius: 5rem;
}

.nav-logo {
  @media all and (max-width: $lg) {
    max-width: 115px;
  }
}

.main-illust-men {
  bottom: -6.2%;
  left: 27%;
  z-index: 10;
  width: 47%;
  @media all and (max-width: $md) {
    bottom: -3.2%;
    left: -5%;
    z-index: 10;
    width: 65%;
  }
}

.main-contexts {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media all and (max-width: $md) {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.icon-list {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.main-illust-women {
  bottom: 0;
  width: 75%;
  @media all and (max-width: $lg) {
    bottom: 0;
    width: 90%;
  }
}

.map-illust {
  width: 50%;
  @media all and (max-width: $lg) {
    width: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

.tab-scroll {
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-apply {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media all and (max-width: $lg) {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.about-main {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media all and (max-width: $lg) {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.notice-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  @media all and (max-width: $lg) {
    position: unset;
    transform: unset;
    background-color: #3f507a;
    padding: 3rem 0;
  }
}

.w-sm-100p {
  @media all and (max-width: $lg) {
    width: 100%;
  }
}
.w-lg-75p {
  @media all and (min-width: $lg) {
    width: 75% !important;
  }
}

.bg-sm-none {
  @media all and (max-width: $lg) {
    background: none !important;
  }
}

.mt-lg-n7 {
  @media all and (max-width: $lg) {
    margin-top: -7rem;
  }
}

.pt-7 {
  padding-top: 5rem;
  @media all and (min-width: $lg) {
    padding-top: 7rem;
  }
}

.pb-sm-100 {
  @media all and (max-width: $lg) {
    padding-bottom: 100%;
  }
}
.h-lg-400 {
  @media all and (min-width: $lg) {
    height: 400px;
  }
}

.set-service-slick {
  .slick-dots {
    margin-bottom: -0.8rem !important;
  }
}

.set-system-slick {
  .slick-dots {
    margin-bottom: 0.8rem !important;
  }
}
.slick-dots {
  li {
    margin: 0;
    width: 13px;
    height: 13px;
    button {
      width: 13px;
      height: 13px;
      &:before {
        line-height: 13px;
        width: 13px;
        height: 13px;
      }
    }
  }
}

.d-xxl-flex {
  @media all and (min-width: 1650px) {
    display: flex;
  }
}

.modal-lg {
  @media all and (min-width: $lg) {
    max-width: 75vw;
  }
  .modal-body {
    @media all and (max-width: $md) {
      padding: 0 5rem !important;
    }
  }
}
.modal-slick {
  div {
    width: 100%;
    .slick-track {
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}

.slick-arrow {
  top: unset;
  bottom: -3.5rem;
  &.slick-prev {
    background: center / contain no-repeat url("../assets/icon/prev.svg");
    width: 30px;
    height: 30px;
    left: -30px;
    &:before {
      content: "이전";
      padding-top: 2.5rem;
      display: block;
      font-size: 12px;
    }
  }
  &.slick-next {
    background: center / contain no-repeat url("../assets/icon/next.svg");
    width: 30px;
    height: 30px;
    right: -30px;
    &:before {
      content: "다음";
      padding-top: 2.5rem;
      display: block;
      font-size: 12px;
    }
  }

  @media all and (min-width: $md) and (max-width: $xl) {
    top: unset;
    bottom: 3%;
    &.slick-prev {
      width: 50px;
      height: 50px;
      left: -60px;
      &:before {
        font-size: 12px;
        padding-top: 4rem;
        display: block;
      }
    }
    &.slick-next {
      width: 50px;
      height: 50px;
      right: -60px;
      &:before {
        font-size: 12px;
        padding-top: 4rem;
        display: block;
      }
    }
  }
  @media all and (min-width: $xl) {
    top: unset;
    bottom: 3%;
    &.slick-prev {
      width: 70px;
      height: 70px;
      left: -90px;
      &:before {
        font-size: 14px;
        padding-top: 6rem;
        display: block;
      }
    }
    &.slick-next {
      width: 70px;
      height: 70px;
      right: -90px;
      &:before {
        font-size: 14px;
        padding-top: 6rem;
        display: block;
      }
    }
  }
}
.bs-popover-top > .arrow {
  &::after {
    border-width: 0;
  }

  &::before {
    border-width: 0;
  }
}

.pin-buttons {
  .pins {
    width: 16px;
    height: 16px;
    position: relative;
    border: 2px solid #c9c9c9;
    border-radius: 3rem;
    background-color: white;
  }
  &:hover {
    .pins {
      border: 2px solid #7796fe;
    }
    .inner-pin {
      background-color: #7796fe;
    }
  }

  .inner-pin {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #c9c9c9;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media all and (max-width: $md) {
    width: 12px;
    height: 12px;
    .inner-pin {
      width: 5px;
      height: 5px;
    }
  }
}

.popover {
  border: 2px solid #7796fe;
  color: #7796fe;
  border-radius: 20px;
  overflow: hidden;
  padding: 0.5rem;
  .popover-header {
    background-color: white;
    font-size: 26px;
    font-weight: bold;
    border: none;
  }
  .popover-body {
    font-size: 20px;
    border: none;
  }
  @media all and (max-width: $md) {
    padding: 1rem 0.5rem;
    .popover-header {
      font-size: 14px;
      padding: 0 12px 5px 12px !important;
      header {
        padding: 0;
      }
    }
    .popover-body {
      font-size: 10px;
      padding: 0 12px;
    }
  }
}

// animations
.elem-title {
  opacity: 1;
  @media all and (max-width: 991px) {
    opacity: 0;
    margin-top: 2rem;
  }
}

.show-title {
  opacity: 1 !important;
  margin-top: 0 !important;
  transition-delay: 0.2s;
  transition-duration: 0.8s;
}
.show-meta {
  opacity: 1 !important;
  margin-top: 0 !important;
  transition-duration: 0.6s;
}

//

.show-phone {
  opacity: 1 !important;
  margin-top: 0 !important;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-duration: 0.7s;
    transition-delay: 0.7s;
  }
}
.show-text {
  opacity: 1 !important;
  top: 20% !important;
  transition-delay: 0.5s;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 1.1s;
  }
}
.show-cloud {
  opacity: 1 !important;
  top: 33% !important;
  transition-delay: 0.8s;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 1.3s;
  }
}
.show-car {
  opacity: 1 !important;
  top: 40% !important;
  transition-delay: 1.1s;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 1.6s;
  }
}
.show-first {
  opacity: 1 !important;
  top: 70% !important;
  transition-delay: 1.7s;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 2s;
  }
}
.show-second {
  opacity: 1 !important;
  top: 83% !important;
  transition-delay: 1.8s;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 2.1s;
  }
}
.show-third {
  opacity: 1 !important;
  top: 96% !important;
  transition-delay: 1.9s;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 2.2s;
  }
}
.show-talk {
  opacity: 1 !important;
  top: -5% !important;
  transition-delay: 2.4s;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  @media all and (max-width: 991px) {
    transition-delay: 2.6s;
  }
}
