@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");

.text-noto-sans,
body {
  font-family: "Noto Sans KR", sans-serif !important;
  color: #333333;
}

.text-noto {
  font-family: "Noto Sans KR", sans-serif;
}
.text-smg {
  font-family: "Sorts Mill Goudy", serif;
  line-height: 0.95;
}

@for $var from 1 through 9 {
  .fw-#{$var}#{"00"} {
    font-weight: #{$var}#{"00"};
  }
}
small,
.small {
  font-size: 14px !important;
}

$font-size: (
  9,
  10,
  12,
  13,
  14,
  15,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  48,
  56,
  64,
  72,
  100
);

@each $var in $font-size {
  .text-#{$var} {
    font-size: #{$var}px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1799px) {
  @each $var in $font-size {
    .text-lg-#{$var} {
      font-size: #{$var}px !important;
    }
  }
}
@media screen and (min-width: 1800px) {
  @each $var in $font-size {
    .text-xl-#{$var} {
      font-size: #{$var}px !important;
    }
  }
}

// 행간
$line-heights: (100, 135, 150, 155, 160, 165, 170, 175, 180, 190, 200);

@each $var in $line-heights {
  &.lh-#{$var} {
    line-height: #{$var/100};
  }
}

// 줄바꿈 단어단위로하게 함
body,
p {
  word-break: keep-all !important;
}

// 섹션 정보
.section-title {
  margin: 2rem 0;
  h3 {
    position: relative;
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    padding-left: 1rem;
    &:before {
      position: absolute;
      content: "";
      width: 3px;
      height: 100%;
      left: 0;
      background: #002257;
    }
  }
}

// 밑줄
.text-underline {
  text-decoration: underline;
}

// 글자간격
.letter-space-sm {
  letter-spacing: 0.2rem;
}

// 취소선
.text-strike {
  text-decoration: line-through !important;
}

// 글자 그림자
.text-shadow {
  text-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
}
