// variable

$icon-size: (
  8,
  12,
  14,
  16,
  18,
  20,
  21,
  22,
  24,
  25,
  28,
  32,
  34,
  40,
  45,
  48,
  50,
  65,
  70,
  80,
  96,
  100
);
$icon-sm-size: (8, 10, 12, 14, 16, 18, 20, 21, 24, 28, 30, 32, 40, 46);
$icon-md-size: (20, 22, 24, 30);

$icons: (
  furniture-1,
  furniture-2,
  furniture-3,
  furniture-4,
  furniture-5,
  furniture-6,
  furniture-7,
  good,
  box,
  calendar,
  setting,
  coin,
  bulb,
  plus,
  check,
  as,
  builtin,
  delivery,
  install,
  moving,
  diy,
  managemaent,
  mobile,
  shipping,
  storage,
  apple,
  google,
  call,
  pin,
  prev,
  next,
  search,
  facebook,
  instagram,
  twitter,
  top,
  more,
  file,
  arrow-prev,
  arrow-next
);

i.icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &.dot {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      background: #002257;
      top: 2px;
      right: 2px;
      border-radius: 50%;
    }
  }

  @each $var in $icon-size {
    &.icon-#{$var} {
      min-width: #{$var}#{px} !important;
      width: #{$var}#{px};
      height: #{$var}#{px};
    }
  }

  @each $var in $icons {
    &.icon-#{$var} {
      background-image: url(../assets/icon/#{$var}.svg);
    }
  }
}

// 예외
$hover-icons: ();

.appear {
  position: relative;
  .icon-after {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    height: 48px;
  }
}

.btn:hover,
.btn.active {
  @each $var in $hover-icons {
    .icon-#{$var} {
      background-image: url(../assets/icons/#{$var}-w.svg);
    }
  }
}

// sm
@media screen and (max-width: 756px) {
  @each $var in $icon-sm-size {
    i.icon.icon-sm-#{$var} {
      min-width: #{$var}#{px};
      width: #{$var}#{px};
      height: #{$var}#{px};
    }
  }
}

// md
@media screen and (min-width: 756px) and (max-width: 1200px) {
  @each $var in $icon-sm-size {
    i.icon.icon-md-#{$var} {
      min-width: #{$var}#{px};
      width: #{$var}#{px};
      height: #{$var}#{px};
    }
  }
}
