.bg-img {
  background: center no-repeat;
  background-size: cover;
  $ratios: (
    5,
    6,
    7,
    8,
    10,
    11,
    12,
    15,
    20,
    25,
    30,
    31,
    33,
    34,
    35,
    40,
    45,
    50,
    55,
    60,
    65,
    70,
    75,
    80,
    85,
    90,
    95,
    100,
    101,
    102,
    103,
    105,
    110,
    115,
    120,
    125,
    130,
    135,
    140,
    145,
    150,
    160,
    180,
    200
  );
  @each $var in $ratios {
    &.ratio-#{$var} {
      padding-bottom: #{$var + "%"};
    }
  }
  @each $var in $ratios {
    &.ratio-sm-#{$var} {
      @media all and (max-width: 768px) {
        padding-bottom: #{$var + "%"};
      }
    }
  }
}

.ratio-sm-

// 이미지 상단의 뱃지 badge
.bg-img {
  position: relative;
  .image-badge {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
  // 뱃지가 hover일때 나올경우
  &.badge-hover-show {
    .image-badge {
      display: none !important;
    }
    &:hover {
      .image-badge {
        display: block !important;
      }
    }
  }
}
