$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

// variables
$primary: #3f507a !default;
$secondary: #ff7a59 !default;
$third: #5a250a !default;
$black: #000 !default;
$dark: #181818 !default;
$gray: #7b8289 !default;
$gray-c9: #c9c9c9 !default;
$light: #e5ebff !default;
$light-gray: #f4f7fa !default;
$light-blue: #f7f9ff !default;
$middle-blue: #98acec !default;
$dark-blue: #4e63b0 !default;
$valid: #1c4b2b !default;
$invalid: #cf6f4d !default;
$error: #790000 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
  "black": $black,
  "dark": $dark,
  "gray": $gray,
  "gray-c9": $gray-c9,
  "light": $light,
  "light-gray": $light-gray,
  "middle-blue": $middle-blue,
  "dark-blue": $dark-blue,
  "light-blue": $light-blue,
  "valid": $valid,
  "invalid": $invalid,
  "error": $error,
);
