<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="keywords" content=“풀앳홈, PAH, pool at home, 3PL, 설치배송, 설치, 배송, 가전설치, 가구설치, 가전배송, 가구배송, 중량물배송, 바로설치, 반품물류, AS, 이전설치, 유통가공, 리퍼비시" />
    <meta name="description" content=“풀앳홈은 포워딩 및 빌트인 전문설치서비스부터 A/S, 반품관리, 리퍼비시 서비스까지 제공하는 B2B2C 종합물류서비스 중개 플랫폼입니다."/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=“풀앳홈"/>
    <meta property="og:description" content="풀앳홈은 포워딩 및 빌트인 전문설치서비스부터 A/S, 반품관리, 리퍼비시 서비스까지 제공하는 B2B2C 종합물류서비스 중개 플랫폼입니다."/>
    <meta property="og:image" content="/assets/image/about-main.png"/>
    <meta property="og:url" content="http://www.poolathome.co.kr"/>
    <meta name="naver-site-verification" content="08c6b592ad6098170ac111f8d469e4fb152c0643" />
    <meta name="google-site-verification" content="G0p9XQnbnVzY8nNsQIJurWBUvVHYf3RsHURZmBIOY78" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>

    <!-- style -->
    <!-- 완료시 index.css만 -->
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/commons.css" />
    <script type="text/javascript" src="../js/index.js"></script>

    <!--  -->
    <script type="text/javascript" src="../js/mainUi.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/layout.js"></script>

    <title>풀앳홈</title>
  </head>
  <body id="ph_main">
    <!-- global-nav -->
    <header class="global-nav"></header>
    <!-- /global-nav -->

    <section class="position-relative h-100">
      <!-- web-image -->
      <img
        class="w-100 d-none d-md-block"
        src="../assets/image/group-86@3x.png"
        alt=""
        style="background: contain"
      />
      <!-- mobile-image -->
      <img
        class="w-100 d-md-none"
        src="../assets/image/main-mobile@3x.png"
        alt=""
        style="background: contain"
      />

      <img
        src="../assets/image/illust-men-3@3x.png"
        alt=""
        class="position-absolute main-illust-men"
      />
      <div
        class="
          container
          position-absolute
          main-contexts
          d-flex
          justify-content-center justify-content-lg-start
        "
      >
        <div class="row w-100">
          <div
            class="
              col-12 col-md-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <div class="text-center text-lg-left">
              <h1
                class="
                  font-weight-bold
                  text-32 text-lg-56 text-xl-72 text-dark
                  mb-4
                  mt-5 mt-md-0
                "
              >
                바로 설치로 <br />집안 가득 채웁니다.
              </h1>
              <span class="text-gray text-14 text-lg-20 text-xl-24">
                종합물류서비스 중개 플랫폼 풀앳홈, 포워딩부터 리퍼비시 생산
                서비스까지 모두 누려보세요!<br />
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ----------------- -->
    <section class="bg-primary py-3 py-lg-4 text-nowrap overflow-hidden">
      <div class="icon-list" style="overflow-x: scroll; overflow-y: hidden">
        <!-- icons -->

        <!-- icons -->
      </div>
    </section>
    <!-- ----------------- -->
    <section class="animate-start">
      <div class="container py-5">
        <div class="row mt-5">
          <div class="col-12 col-lg-6 order-1 order-lg-0 mt-4 mt-lg-0">
            <div class="px-5">
              <div class="position-relative mt-5">
                <img
                  src="../assets/image/phone.png"
                  class="elem-phone w-100 col-center"
                  style="opacity: 0; margin-top: 2rem"
                />
                <img
                  class="elem-text position-absolute"
                  style="width: 50%; opacity: 0; top: 27%; left: 25%"
                  src="../assets/image/textimg.svg"
                  alt=""
                />
                <img
                  src="../assets/image/clouds.png"
                  class="elem-cloud position-absolute col-center"
                  style="opacity: 0; width: 50%; top: 45%; left: 25%"
                />
                <img
                  src="../assets/image/bbangbbang.png"
                  class="elem-car position-absolute col-center"
                  style="opacity: 0; width: 50%; top: 48%; left: 26%"
                  alt=""
                />
                <img
                  class="elem-first position-absolute"
                  style="opacity: 0; width: 50%; top: 70%; left: 25%"
                  src="../assets/image/first.svg"
                  alt=""
                />
                <img
                  class="elem-second position-absolute"
                  style="opacity: 0; width: 50%; top: 70%; left: 25%"
                  src="../assets/image/second.svg"
                  alt=""
                />
                <img
                  class="elem-third position-absolute"
                  style="opacity: 0; width: 50%; top: 70%; left: 25%"
                  src="../assets/image/third.svg"
                  alt=""
                />
                <img
                  src="../assets/image/talktalk.png"
                  class="elem-talk position-absolute col-center"
                  style="opacity: 0; width: 20%; right: -5%; top: -15%"
                  alt=""
                />
              </div>
            </div>
          </div>
          <!--  -->
          <div
            class="
              col-12 col-lg-6
              order-0 order-lg-1
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <div>
              <div class="elem-title mb-5">
                <h1
                  class="
                    font-weight-bold
                    text-center
                    text-lg-left
                    text-26
                    text-lg-42
                    text-xl-56
                    text-dark
                    mb-3
                  "
                >
                  바로설치란,<br />
                  고객을 위한 전문 설치배송<br />
                  서비스 브랜드 입니다.
                </h1>
                <span
                  class="
                    text-gray text-14 text-lg-20 text-xl-22
                    d-block
                    text-center text-lg-left
                    mb-5 mb-md-4
                  "
                >
                  풀앳홈만의 설치배송 특화 서비스<br />
                  빠르고 안전하고 전문적으로 “바로설치” 합니다
                </span>
              </div>

              <div id="intros" class="row elem-meta">
                <!-- in main.js contents  -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="../assets/image/round-back.png" alt="" class="w-100" />
      </div>
    </section>
    <!-- --------------- -->
    <section class="bg-light-gray">
      <div class="container py-5">
        <h1
          class="
            text-center
            font-weight-bold
            text-26 text-lg-42 text-xl-56
            mb-3 mb-lg-5
          "
        >
          제공 서비스
        </h1>
        <div id="provide-services" class="row">
          <!-- in main.js 제공 서비스 -->

          <div class="col-12 col-md-8 mt-4">
            <div class="rounded-40 bg-middle-blue position-relative h-100">
              <img
                src="../assets/image/particle.png"
                alt=""
                class="position-absolute"
                style="
                  width: 95%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                "
              />
              <div class="row h-100">
                <div
                  class="
                    col-6
                    d-flex
                    flex-column
                    justify-content-center
                    align-items-start
                    pl-5
                    py-5 py-lg-0
                  "
                >
                  <h5
                    class="
                      font-weight-bold
                      text-white text-16 text-lg-20 text-xl-32
                    "
                  >
                    풀앳홈과 함께 더욱 다양한 경험을 해보세요!
                  </h5>
                  <button class="btn pill bg-white mt-4 px-4 text-nowrap">
                    <a
                      href="/contact"
                      class="text-dark-blue text-12 text-lg-14 d-block p-2"
                      style="
                        line-height: 11px;
                        margin-top: -2px;
                        text-decoration: none;
                        font-weight: 500;
                      "
                    >
                      풀앳홈 이용문의
                    </a>
                  </button>
                </div>
                <div class="col-6">
                  <img
                    src="../assets/image/talk.png"
                    alt=""
                    class="position-absolute main-illust-women"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- --------------- -->
    <section>
      <div class="container py-5">
        <h1
          class="
            text-center
            font-weight-bold
            text-26 text-lg-42 text-xl-56
            mb-4
            mt-3 mt-md-5
          "
        >
          전국 10개 물류센터 운영
        </h1>
        <span
          class="
            text-gray text-gray text-14 text-lg-16 text-xl-22
            d-block
            mb-5
            text-center
          "
        >
          용인허브물류센터를 포함한 지방 10개<br class="d-lg-none" />
          물류센터를 운영하고 있습니다.
        </span>

        <figure
          class="rounded-40 text-center py-4 py-lg-4"
          style="background-color: #f7fafc"
        >
          <div
            id="map-section"
            class="map-illust position-relative mt-5 mx-auto"
          >
            <!-- in main.js - pins -->
            <!-- button - div(pins) -->
            <!-- svg - g -path() -->
            <svg viewBox="0 0 652 877" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path
                  d="M382.436 599.676c-.495 1.358-.74 5.372-.24 6.822.583 1.69 3.846 3.056 2.558 5.509-.66 1.255-4.002 1.705-5.201 1.073-1.806-.952-1.533-4.514-2.933-5.548-5.127-3.788-6.453 2.42-6.623 5.805-4.85.92-8.069 3.292-4.93 8.256 1.09 1.725 3.558 2.897 3.336 5.262-.178 1.906-3.432 2.723-1.28 5.253-3.092 2.174-6.545 2.72-1.363 5.911 3.043 1.875 6.982 4.02 9.893 1.034 2.553-2.619 1.266-6.288 6.54-5.302 4.055.758 3.054 3.892-.056 4.532-.802.166-1.238 1.065-.861 1.793.723 1.395 2.396 2.024 3.298 3.846 1.182 2.387-.757 5.887.28 7.584.818 1.34 6.883 2.816 8.192 1.896 2.36-1.658.042-6.094 1.365-7.435 1.394-1.414 6.274.748 5.536-3.358-.236-1.31-2.75-1.616-2.984-3.677-.216-1.914.327-2.699 1.994-3.545 3.13-1.59 4.975 1.593 7.849 1.646 4.516.084 3.654-2.795 2.223-5.235-1.3-2.22-3.633-4.461-1.87-6.82 1.711-2.29 4.77-.488 6.474-2.72 4.476-5.865-5.918-7.406-6.81-11.491-.269-1.226.656-2.233.325-3.355-.574-1.953-1.164-1.132-2.315-2.209-2.495-2.333-1.514-2.297-.384-5.605 1.682-4.92-3.193-10.706-7.666-6.445-1.073 1.022-.726 2.196-2.105 2.82-1.122.506-3.697-.27-4.968-.223-3.043.113-6.106.72-7.274 3.926"
                  fill="#E8EDF2"
                  class="geoje"
                />
                <path
                  d="M382.436 599.676c-.495 1.358-.74 5.372-.24 6.822.583 1.69 3.846 3.056 2.558 5.509-.66 1.255-4.002 1.705-5.201 1.073-1.806-.952-1.533-4.514-2.933-5.548-5.127-3.788-6.453 2.42-6.623 5.805-4.85.92-8.069 3.292-4.93 8.256 1.09 1.725 3.558 2.897 3.336 5.262-.178 1.906-3.432 2.723-1.28 5.253-3.092 2.174-6.545 2.72-1.363 5.911 3.043 1.875 6.982 4.02 9.893 1.034 2.553-2.619 1.266-6.288 6.54-5.302 4.055.758 3.054 3.892-.056 4.532-.802.166-1.238 1.065-.861 1.793.723 1.395 2.396 2.024 3.298 3.846 1.182 2.387-.757 5.887.28 7.584.818 1.34 6.883 2.816 8.192 1.896 2.36-1.658.042-6.094 1.365-7.435 1.394-1.414 6.274.748 5.536-3.358-.236-1.31-2.75-1.616-2.984-3.677-.216-1.914.327-2.699 1.994-3.545 3.13-1.59 4.975 1.593 7.849 1.646 4.516.084 3.654-2.795 2.223-5.235-1.3-2.22-3.633-4.461-1.87-6.82 1.711-2.29 4.77-.488 6.474-2.72 4.476-5.865-5.918-7.406-6.81-11.491-.269-1.226.656-2.233.325-3.355-.574-1.953-1.164-1.132-2.315-2.209-2.495-2.333-1.514-2.297-.384-5.605 1.682-4.92-3.193-10.706-7.666-6.445-1.073 1.022-.726 2.196-2.105 2.82-1.122.506-3.697-.27-4.968-.223-3.043.113-6.106.72-7.274 3.926z"
                  stroke="#ABB3B9"
                />
                <!-- 걍원도 -->
                <path
                  d="M154.966 78.927c1.354 1.804.97 5.647 2.658 7.383 6.098 6.273 7.233-1.314 7.274-6.45 1.223-.418 3.871-.435 5.14-.037 1.093 7.715 4.595 1.957 8.159 2.595 5.63 1.006 4.684 3.942 4.78 9.257 8.182 3.323 18.794-7.475 23.313 4.127 1.996 5.123.186 8.355 5.296 12.064 2.748 1.995 8.463 3.408 11.92 5.499 6.267 3.792 13.215 12.203 6.309 18.714-3.116 2.938-8.754 1.611-10.874 5.803-1.638 3.24.12 11.571-.07 15.306-.793.067-1.679.2-2.47.202-.397 1.395 3.59 12.577 4.713 14.603 4.684 8.442 9.71 1.137 16.09 3.46 4.82 1.755 7.702 7.55 13.204 9.275 4.124 1.292 14.54 1.574 10.542 9.158-3.013 5.718-8.182 2.54-9.742 10.344-1.33 6.648-.314 9.197-4.962 14.39-4.195 4.686-7.648 8.51-10.745 14.056-1.348 2.413-6.82 10.789-5.994 13.384-.326.108-.478.318-.456.632 7.069 2.85 13.499 1.211 19.82-.682 11.228-3.363 8.035 4.968 16.228 7.7 9.798 3.27 8.284-9.925 12.666-14.217 7.721-7.567 14.014.03 15.523 7.253 5.401 1.04 7.011-1.374 11.232-3.897 4.69-2.804 5.593-2.013 10.729-2.005 7.325.01 13.198 1.878 20.603 1.44 2.105 6.857-3.205 4.157-5.245 7.235-3.185 4.806 1.256 4.27 6.698 4.043 5.43-.227 21.266 1.55 21.489 9.229 5.08 3.937 9.373 1.754 15.225 1.416 6.693-.385 9.794 2.094 15.41 4.897 6.816 3.403 8.502 2.383 12.032-4.176 2.28-4.236 5.264-10.74 11.897-7.27 1.55.811 1.193 4.027 3.375 5.262 5.426 3.073 10.494-1.855 14.289-2.59 6.778-1.314 8.738 3.004 14.557 3.944 5.404.873 9.792-3.962 15.556-1.55 5.55 2.322 7.177 5.873 13.856 6.865 7.947 1.181 16.063 2.893 24.176 3.886-.066-.74-.107-1.48-.115-2.218-.066-6.106 2.495-13.143-.585-18.522-3.215-5.617-8.171-6.794-10.224-13.948-1.726-6.011-2.947-9.98-5.818-15.714-5.295-10.578-12.119-19.677-19.104-29.349-7.71-10.674-10.61-24.02-17.998-34.978-9.17-13.597-21.478-24.41-31.914-36.944-3.964-4.76-9.074-8.022-12.281-13.53-3.71-6.369-4.636-9.873-11.021-14.741-5.494-4.188-10.3-7.068-12.448-13.509-1.92-5.75-.646-12.526-2.683-18.29-4.266-12.078-17.152-19.258-20.598-30.767-2.536-8.466-4.915-7.361-9.79-14.338-1.72-2.46-1.247-6.28-2.848-8.78-.686-1.072-1.898-1.731-3.076-2.452a2.668 2.668 0 0 0-3.982 1.63c-.094.376-.177.728-.247 1.05-2.022 9.245-.913 15.028-8.326 22.841-12.303 12.968-21.928 24.118-41.59 21.274-3.19-.46-5.891-2.547-9.393-1.852-2.79.554-3.724 3.218-5.467 4.006-8.187 3.705-6.569-2.654-11.884-5.897-5.824-3.552-11.251.264-16.743.567-5.678.315-10.08-1.766-16.063-.182-5.843 1.55-9.367 6.01-15.285 4.879-7.336-1.403-8.257-7.306-16.648-5.232-2.374.587-3.721 2.202-6.815 2.523-2.439.254-5.277-.792-8.056-.664-4.254.197-8.572 1.494-12.957 1.962a4.221 4.221 0 0 0-3.252 2.173c-2.897 5.284-5.989 5.255-11.815 7.914-3.007 1.373-7.252 3.683-9.908 6.685 3.84 2.944 6.968 7.903 10.036 10.528 1.555 1.33 3.243 1.39 4.697 3.327z"
                  fill="#E8EDF2"
                  class="gangwon"
                />

                <path
                  d="M150.269 75.6c1.555 1.33 3.243 1.39 4.697 3.327 1.354 1.804.97 5.647 2.658 7.383 6.098 6.273 7.233-1.314 7.274-6.45 1.223-.418 3.871-.435 5.14-.037 1.093 7.715 4.595 1.957 8.159 2.595 5.63 1.006 4.684 3.942 4.78 9.257 8.182 3.323 18.794-7.475 23.313 4.127 1.996 5.123.186 8.355 5.296 12.064 2.748 1.995 8.463 3.408 11.92 5.499 6.267 3.792 13.215 12.203 6.309 18.714-3.116 2.938-8.754 1.611-10.874 5.803-1.638 3.24.12 11.571-.07 15.306-.793.067-1.679.2-2.47.202-.397 1.395 3.59 12.577 4.713 14.603 4.684 8.442 9.71 1.137 16.09 3.46 4.82 1.755 7.702 7.55 13.204 9.275 4.124 1.292 14.54 1.574 10.542 9.158-3.013 5.718-8.182 2.54-9.742 10.344-1.33 6.648-.314 9.197-4.962 14.39-4.195 4.686-7.648 8.51-10.745 14.056-1.348 2.413-6.82 10.789-5.994 13.384-.326.108-.478.318-.456.632 7.069 2.85 13.499 1.211 19.82-.682 11.228-3.363 8.035 4.968 16.228 7.7 9.798 3.27 8.284-9.925 12.666-14.217 7.721-7.567 14.014.03 15.523 7.253 5.401 1.04 7.011-1.374 11.232-3.897 4.69-2.804 5.593-2.013 10.729-2.005 7.325.01 13.198 1.878 20.603 1.44 2.105 6.857-3.205 4.157-5.245 7.235-3.185 4.806 1.256 4.27 6.698 4.043 5.43-.227 21.266 1.55 21.489 9.229 5.08 3.937 9.373 1.754 15.225 1.416 6.693-.385 9.794 2.094 15.41 4.897 6.816 3.403 8.502 2.383 12.032-4.176 2.28-4.236 5.264-10.74 11.897-7.27 1.55.811 1.193 4.027 3.375 5.262 5.426 3.073 10.494-1.855 14.289-2.59 6.778-1.314 8.738 3.004 14.557 3.944 5.404.873 9.792-3.962 15.556-1.55 5.55 2.322 7.177 5.873 13.856 6.865 7.947 1.181 16.063 2.893 24.176 3.886-.066-.74-.107-1.48-.115-2.218-.066-6.106 2.495-13.143-.585-18.522-3.215-5.617-8.171-6.794-10.224-13.948-1.726-6.011-2.947-9.98-5.818-15.714-5.295-10.578-12.119-19.677-19.104-29.349-7.71-10.674-10.61-24.02-17.998-34.978-9.17-13.597-21.478-24.41-31.914-36.944-3.964-4.76-9.074-8.022-12.281-13.53-3.71-6.369-4.636-9.873-11.021-14.741-5.494-4.188-10.3-7.068-12.448-13.509-1.92-5.75-.646-12.526-2.683-18.29-4.266-12.078-17.152-19.258-20.598-30.767-2.536-8.466-4.915-7.361-9.79-14.338-1.72-2.46-1.247-6.28-2.848-8.78-.686-1.072-1.898-1.731-3.076-2.452a2.668 2.668 0 0 0-3.982 1.63c-.094.376-.177.728-.247 1.05-2.022 9.245-.913 15.028-8.326 22.841-12.303 12.968-21.928 24.118-41.59 21.274-3.19-.46-5.891-2.547-9.393-1.852-2.79.554-3.724 3.218-5.467 4.006-8.187 3.705-6.569-2.654-11.884-5.897-5.824-3.552-11.251.264-16.743.567-5.678.315-10.08-1.766-16.063-.182-5.843 1.55-9.367 6.01-15.285 4.879-7.336-1.403-8.257-7.306-16.648-5.232-2.374.587-3.721 2.202-6.815 2.523-2.439.254-5.277-.792-8.056-.664-4.254.197-8.572 1.494-12.957 1.962a4.221 4.221 0 0 0-3.252 2.173c-2.897 5.284-5.989 5.255-11.815 7.914-3.007 1.373-7.252 3.683-9.908 6.685 3.84 2.944 6.968 7.903 10.036 10.528z"
                  stroke="#ABB3B9"
                  stroke-linecap="round"
                />
                <!-- 경기도 -->
                <path
                  d="M58.018 127.64c-1.261-1.094-3.137-1.002-4.325.17-2.348 2.316-5.846 3.678-6.998 7.246-1.609 4.981 2.632 9 1.558 13.99-5.052 2.966-6.717-4.437-12.205-3.887-3.6 7.39 2.155 5.988 5.72 9.855 2.99 3.242 2.322 3.306 4.136 6.692 1.396 2.607-.162 4.253 2.494 6.609 7.868 6.98 17.926-5.777 26.465.142 1.3 6.531 3.183 12.034 4.302 18.979.507 3.143.475 6.05 2.451 8.542 1.138 1.435 3.27-.158 4.402 1.237.35.432 2.324 4.464 2.244 4.401 4.527 3.562 11.855 3.966 13.162 8.916 2.065 7.822-4.961 10.334 6.697 14.464 2.99 5.726-2.464 6.77-7.36 6.529-5.872-.29-7.63-5.786-11.456 1.829-1.68 3.344-1.428 10.533 1.707 13.138 3.646 3.029 8.112-.09 13-.022a2.175 2.175 0 0 1 2.08 1.656c.799 3.287.366 6.736 1.34 9.986 1.624 5.425 2.628 4.854 6.651 9.15 3.495 3.731 8.66 11.246 9.688 16.689 2.427.122 4.778.356 6.447.356 6.771 0 9.954-1.323 15.878-3.194 11.847-3.74 20.133 7.308 32.1 5.866 5.43-.655 11.656-4.308 15.523-7.351 3.93-3.092 6.148-7.23 11.183-8.725 7.267-2.158 9.418-.578 12.901-8.62 2.53-5.841 4.43-11.768 8.523-16.78a14.686 14.686 0 0 1 2.903-2.742c-.06-.024-.119-.045-.178-.07-.022-.313.13-.523.456-.631-.827-2.595 4.646-10.97 5.994-13.385 3.097-5.545 6.55-9.37 10.745-14.056 4.649-5.192 3.632-7.741 4.962-14.39 1.56-7.803 6.729-4.625 9.742-10.343 3.998-7.584-6.418-7.866-10.542-9.158-5.502-1.724-8.384-7.52-13.203-9.275-6.382-2.323-11.407 4.982-16.09-3.46-1.125-2.026-5.111-13.208-4.715-14.603.792-.003 1.678-.135 2.472-.202.19-3.735-1.57-12.067.069-15.306 2.12-4.192 7.758-2.865 10.874-5.803 6.906-6.511-.042-14.922-6.31-18.714-3.456-2.091-9.171-3.504-11.92-5.499-5.11-3.709-3.3-6.941-5.295-12.064-4.52-11.602-15.131-.804-23.313-4.127-.096-5.315.85-8.25-4.78-9.257-3.564-.638-7.066 5.12-8.159-2.595-1.269-.398-3.916-.381-5.14.037-.041 5.136-1.176 12.722-7.274 6.45-1.688-1.736-1.304-5.579-2.658-7.383-1.454-1.938-3.142-1.997-4.698-3.327-3.067-2.625-6.196-7.584-10.035-10.528-.067.076-.137.15-.202.226-.131.835-.337 1.656-.755 2.427-.923 1.7-4.586 4.672-5.998 5.983-8.12 7.534-10.551 16.925-19.084 24.949-3.66 3.44-6.496 5.482-11.05 6.986-5.107 1.687-9.554.568-10.506 5.531-.86 4.48 2.158 8.288-1.174 13.552-1.215 1.919-3.378 4.362-5.697 6.267a13.344 13.344 0 0 1-8.808 3.018c-4.686-.12-12.919-1.148-18.941-6.371"
                  fill="#E8EDF2"
                  class="gyeonggi"
                />
                <path
                  d="M58.018 127.64c-1.261-1.094-3.137-1.002-4.325.17-2.348 2.316-5.846 3.678-6.998 7.246-1.609 4.981 2.632 9 1.558 13.99-5.052 2.966-6.717-4.437-12.205-3.887-3.6 7.39 2.155 5.988 5.72 9.855 2.99 3.242 2.322 3.306 4.136 6.692 1.396 2.607-.162 4.253 2.494 6.609 7.868 6.98 17.926-5.777 26.465.142 1.3 6.531 3.183 12.034 4.302 18.979.507 3.143.475 6.05 2.451 8.542 1.138 1.435 3.27-.158 4.402 1.237.35.432 2.324 4.464 2.244 4.401 4.527 3.562 11.855 3.966 13.162 8.916 2.065 7.822-4.961 10.334 6.697 14.464 2.99 5.726-2.464 6.77-7.36 6.529-5.872-.29-7.63-5.786-11.456 1.829-1.68 3.344-1.428 10.533 1.707 13.138 3.646 3.029 8.112-.09 13-.022a2.175 2.175 0 0 1 2.08 1.656c.799 3.287.366 6.736 1.34 9.986 1.624 5.425 2.628 4.854 6.651 9.15 3.495 3.731 8.66 11.246 9.688 16.689 2.427.122 4.778.356 6.447.356 6.771 0 9.954-1.323 15.878-3.194 11.847-3.74 20.133 7.308 32.1 5.866 5.43-.655 11.656-4.308 15.523-7.351 3.93-3.092 6.148-7.23 11.183-8.725 7.267-2.158 9.418-.578 12.901-8.62 2.53-5.841 4.43-11.768 8.523-16.78a14.686 14.686 0 0 1 2.903-2.742c-.06-.024-.119-.045-.178-.07-.022-.313.13-.523.456-.631-.827-2.595 4.646-10.97 5.994-13.385 3.097-5.545 6.55-9.37 10.745-14.056 4.649-5.192 3.632-7.741 4.962-14.39 1.56-7.803 6.729-4.625 9.742-10.343 3.998-7.584-6.418-7.866-10.542-9.158-5.502-1.724-8.384-7.52-13.203-9.275-6.382-2.323-11.407 4.982-16.09-3.46-1.125-2.026-5.111-13.208-4.715-14.603.792-.003 1.678-.135 2.472-.202.19-3.735-1.57-12.067.069-15.306 2.12-4.192 7.758-2.865 10.874-5.803 6.906-6.511-.042-14.922-6.31-18.714-3.456-2.091-9.171-3.504-11.92-5.499-5.11-3.709-3.3-6.941-5.295-12.064-4.52-11.602-15.131-.804-23.313-4.127-.096-5.315.85-8.25-4.78-9.257-3.564-.638-7.066 5.12-8.159-2.595-1.269-.398-3.916-.381-5.14.037-.041 5.136-1.176 12.722-7.274 6.45-1.688-1.736-1.304-5.579-2.658-7.383-1.454-1.938-3.142-1.997-4.698-3.327-3.067-2.625-6.196-7.584-10.035-10.528-.067.076-.137.15-.202.226-.131.835-.337 1.656-.755 2.427-.923 1.7-4.586 4.672-5.998 5.983-8.12 7.534-10.551 16.925-19.084 24.949-3.66 3.44-6.496 5.482-11.05 6.986-5.107 1.687-9.554.568-10.506 5.531-.86 4.48 2.158 8.288-1.174 13.552-1.215 1.919-3.378 4.362-5.697 6.267a13.344 13.344 0 0 1-8.808 3.018c-4.686-.12-12.919-1.148-18.941-6.371z"
                  stroke="#ABB3B9"
                  stroke-linecap="round"
                />
                <path
                  d="M103.333 422.68c2.881-.402 5.586 1.238 8.166.663 3.095-.69 3.046-2.166 5.689-3.505 5.402-2.737 9.442-2.183 15.555-2.509 5.527-.294 10.76-2.941 16.058-1.32 6.31 1.929 3.207 7.681 7.974 10.043 2.694 1.334 12.36-2.104 15.407-2.87 4.798-1.21 10.772-3.288 16.078-2.545 10.348 1.451 13.39 12.728 22.024 16.043 5.256 2.019 24.143-2.635 22.238-10.695-.53-2.236-4.221-2.582-5.36-4.144-1.939-2.662-1.458-3.579-2.172-6.665-1.3-5.614-1.63-8.66-7.39-11.714-2.615-1.386-4.579-1.044-7.172-2.86-4.108-2.878-1.617-2.99-3.486-6.668-2.238-4.405-4.986-5.675-9.342-8.873-2.926-2.15-9.723-6.565-8.741-11.216.903-4.278 7.395-5.498 10.613-7.435.215-5.29-14.143-12.21-18.568-14.57-8.154-4.352-14.093-6.907-9.91-18.587 3.284-9.174 14.384-9.923 19.27-17.006 2.916-4.226.943-7.028-1.875-10.713-1.557-2.037-2.989-.146-4.207-3.18-.413-1.028.88-4.97.602-6.58-.686.29-1.701.248-2.665.254a1.912 1.912 0 0 1-1.922-1.881 29.443 29.443 0 0 1 .868-7.763c-.97.274-1.931.481-2.87.595-11.967 1.442-20.252-9.605-32.099-5.866-5.924 1.87-9.107 3.194-15.878 3.194-1.669 0-4.02-.234-6.447-.356.24 1.206-.629 2.35-1.848 2.476-4.504.467-10.104 1.402-12.825-.836-3.733-3.07-3.149-9.793-8.299-13.135-9.086-5.896-20.072-3.122-29.329-9.149-4.08-2.657-8.326-8.117-13.926-7.686-6.029.464-6.296 6.998-10.812 9.14-6.158 2.923-10.282-2.618-8.998 6.652-.249-1.795 5.364 8.308 4.18 7.318 1.237 1.034 3.945 1.635 5.97 1.871.779.09 1.467.559 1.836 1.25a49.693 49.693 0 0 1 1.865 3.882c.39.915-.308 1.92-1.302 1.889-7.023-.22-3.626 8.778-10.222 8.753-6.404-.023-5.853-9.352-5.903-14.326a2.094 2.094 0 0 0-1.4-1.965 7.687 7.687 0 0 0-2.734-.413 1.759 1.759 0 0 0-1.64 1.248c-.162.554-.4 1.035-.596 1.552a1.956 1.956 0 0 1-1.914 1.264c-1.646-.079-3.068-.423-4.46-1.367a1.685 1.685 0 0 0-2.437.61c-1.353 2.575-1.654 5.514-2.404 8.396a2.602 2.602 0 0 1-2.801 1.941c-.77-.085-1.588-.153-2.365-.312a2.07 2.07 0 0 0-2.47 1.868c-.188 2.403.123 5.06-1.037 6.724-1.03 1.48-3.743 2.246-5.854 3.352-1.192.625-1.415 2.253-.412 3.151 4.219 3.78 10.129 2.317 12.342 8.76.376 1.095 1.34 1.882 2.48 2.083 13.94 2.447 17.979 14.62 20.289 28.004 1.465 8.487.12 21.11 10.064 22.45 2.392.322 4.64-1.228 5.27-3.558.757-2.81.983-5.947.473-8.783-.992-5.509-5.015-7.139-7.318-11.806-4.733-9.596 2.697-15.746 9.815-8.13 6.622 7.086 4.519 14.468 3.326 22.411-1.778 11.844 3.591 10.321 8.15 17.287a2.05 2.05 0 0 1-.522 2.791 5.429 5.429 0 0 1-.841.51 1.938 1.938 0 0 0-1.027 2.318c3.155 10.416-1.252 23.277 5.695 31.344 4.143 4.81 10.754 10.16 15.125 15.919 2.019-.219 3.986-.575 5.84-1.155 4.499-1.407 7.923-5.22 12.538-5.865"
                  fill="#E8EDF2"
                  class="chung-nam"
                />
                <path
                  d="M103.333 422.68c2.881-.402 5.586 1.238 8.166.663 3.095-.69 3.046-2.166 5.689-3.505 5.402-2.737 9.442-2.183 15.555-2.509 5.527-.294 10.76-2.941 16.058-1.32 6.31 1.929 3.207 7.681 7.974 10.043 2.694 1.334 12.36-2.104 15.407-2.87 4.798-1.21 10.772-3.288 16.078-2.545 10.348 1.451 13.39 12.728 22.024 16.043 5.256 2.019 24.143-2.635 22.238-10.695-.53-2.236-4.221-2.582-5.36-4.144-1.939-2.662-1.458-3.579-2.172-6.665-1.3-5.614-1.63-8.66-7.39-11.714-2.615-1.386-4.579-1.044-7.172-2.86-4.108-2.878-1.617-2.99-3.486-6.668-2.238-4.405-4.986-5.675-9.342-8.873-2.926-2.15-9.723-6.565-8.741-11.216.903-4.278 7.395-5.498 10.613-7.435.215-5.29-14.143-12.21-18.568-14.57-8.154-4.352-14.093-6.907-9.91-18.587 3.284-9.174 14.384-9.923 19.27-17.006 2.916-4.226.943-7.028-1.875-10.713-1.557-2.037-2.989-.146-4.207-3.18-.413-1.028.88-4.97.602-6.58-.686.29-1.701.248-2.665.254a1.912 1.912 0 0 1-1.922-1.881 29.443 29.443 0 0 1 .868-7.763c-.97.274-1.931.481-2.87.595-11.967 1.442-20.252-9.605-32.099-5.866-5.924 1.87-9.107 3.194-15.878 3.194-1.669 0-4.02-.234-6.447-.356 0 0 0 0 0 0 .24 1.206-.629 2.35-1.848 2.476-4.504.467-10.104 1.402-12.825-.836-3.733-3.07-3.149-9.793-8.299-13.135-9.086-5.896-20.072-3.122-29.329-9.149-4.08-2.657-8.326-8.117-13.926-7.686-6.029.464-6.296 6.998-10.812 9.14-6.158 2.923-10.282-2.618-8.998 6.652-.249-1.795 5.364 8.308 4.18 7.318 1.237 1.034 3.945 1.635 5.97 1.871.779.09 1.467.559 1.836 1.25a49.693 49.693 0 0 1 1.865 3.882c.39.915-.308 1.92-1.302 1.889-7.023-.22-3.626 8.778-10.222 8.753-6.404-.023-5.853-9.352-5.903-14.326a2.094 2.094 0 0 0-1.4-1.965 7.687 7.687 0 0 0-2.734-.413 1.759 1.759 0 0 0-1.64 1.248c-.162.554-.4 1.035-.596 1.552a1.956 1.956 0 0 1-1.914 1.264c-1.646-.079-3.068-.423-4.46-1.367a1.685 1.685 0 0 0-2.437.61c-1.353 2.575-1.654 5.514-2.404 8.396a2.602 2.602 0 0 1-2.801 1.941c-.77-.085-1.588-.153-2.365-.312a2.07 2.07 0 0 0-2.47 1.868c-.188 2.403.123 5.06-1.037 6.724-1.03 1.48-3.743 2.246-5.854 3.352-1.192.625-1.415 2.253-.412 3.151 4.219 3.78 10.129 2.317 12.342 8.76.376 1.095 1.34 1.882 2.48 2.083 13.94 2.447 17.979 14.62 20.289 28.004 1.465 8.487.12 21.11 10.064 22.45 2.392.322 4.64-1.228 5.27-3.558.757-2.81.983-5.947.473-8.783-.992-5.509-5.015-7.139-7.318-11.806-4.733-9.596 2.697-15.746 9.815-8.13 6.622 7.086 4.519 14.468 3.326 22.411-1.778 11.844 3.591 10.321 8.15 17.287a2.05 2.05 0 0 1-.522 2.791 5.429 5.429 0 0 1-.841.51 1.938 1.938 0 0 0-1.027 2.318c3.155 10.416-1.252 23.277 5.695 31.344 4.143 4.81 10.754 10.16 15.125 15.919 2.019-.219 3.986-.575 5.84-1.155 4.499-1.407 7.923-5.22 12.538-5.865z"
                  stroke="#ABB3B9"
                  stroke-linecap="round"
                />
                <path
                  d="M216.483 379.395c14.021-11.605-7.218-6.977-6.3-16.777-4.786-.298-6.88 2.115-10.715 3.5.006.099.008.196.004.292-3.218 1.937-9.71 3.157-10.613 7.435-.982 4.651 5.815 9.067 8.741 11.216 3.394 2.492 5.81 3.82 7.771 6.366 2.991-4.427 6.633-8.324 11.112-12.032"
                  fill="#E8EDF2"
                />
                <path
                  d="M216.483 379.395c14.021-11.605-7.218-6.977-6.3-16.777-4.786-.298-6.88 2.115-10.715 3.5.006.099.008.196.004.292-3.218 1.937-9.71 3.157-10.613 7.435-.982 4.651 5.815 9.067 8.741 11.216 3.394 2.492 5.81 3.82 7.771 6.366 2.991-4.427 6.633-8.324 11.112-12.032z"
                  stroke="#ABB3B9"
                  stroke-linecap="round"
                  class="daejeon"
                />
                <path
                  d="M249.69 438.084c3.413 1.069 8.255-1.54 11.396-2.038 8.724-1.381 13.386.55 19.202-6.202 1.63-1.892 5.984-5.993 6.399-8.34.653-3.702-2.866-5.477-2.754-9.406 6.224-.86 12.57-7.195 7.736-13.99-3.82-5.367-16.213 4.008-15.978-4.742-3.85.068-6.68.85-10.493-.886-.853-5.649 4.444-8.012 5.28-12.552.982-5.347-4.15-8.452-4.06-12.717.124-5.776 5.345-7.257 4.693-14.053-.641-6.683-3.283-8.25-8.725-10.658-13.572-6.01.65-10.388 7.34-15.414 6.181-4.644 7.352-4.415 14.608-3.191 6.543 1.103 10.896 1.434 10.061-6.833-.577-5.709-3.072-8.424 3.605-11.886 5.679-2.945 10.819.291 16.446-.263 3.124-14.103 16.343 1.68 21.325 3.644 9.725 3.835 19.469-4.116 19.602-14.257.099-7.537-2.616-8.47 4.645-11.314 5.11-2.002 7.688-2.586 11.496-6.666 2.62-2.805 8.932-8.491 13.473-13.532-3.3-1.693-6.236-2.853-10.968-2.58-5.852.336-10.145 2.52-15.225-1.417-.224-7.68-16.058-9.455-21.489-9.23-5.442.228-9.883.764-6.698-4.042 2.04-3.078 7.35-.378 5.245-7.235-7.405.437-13.279-1.43-20.604-1.44-5.135-.008-6.038-.799-10.728 2.005-4.221 2.523-5.83 4.936-11.232 3.897-1.51-7.224-7.802-14.82-15.523-7.253-4.382 4.292-2.868 17.486-12.666 14.218-8.193-2.733-5-11.065-16.229-7.7-6.267 1.877-12.642 3.5-19.641.75-.984.7-1.941 1.564-2.903 2.741-4.092 5.013-5.993 10.94-8.523 16.78-3.483 8.043-5.635 6.463-12.901 8.621-5.035 1.496-7.253 5.632-11.183 8.725-3.2 2.517-8.012 5.448-12.654 6.757a29.486 29.486 0 0 0-.862 8.003c.025.931.807 1.655 1.738 1.642.478-.006.974.004 1.441-.014a1.308 1.308 0 0 1 1.346 1.482c-.243 1.813-.847 4.107-.546 4.855 1.218 3.035 2.65 1.144 4.207 3.18 2.818 3.686 4.79 6.488 1.876 10.714-4.887 7.083-15.987 7.832-19.271 17.006-4.183 11.68 1.756 14.235 9.91 18.586 4.344 2.318 18.26 9.03 18.564 14.28 3.836-1.386 5.929-3.8 10.715-3.502-.918 9.8 20.321 5.173 6.3 16.778-4.48 3.708-8.121 7.605-11.112 12.032a15.729 15.729 0 0 1 1.57 2.507c1.87 3.679-.62 3.79 3.487 6.668 2.593 1.816 4.557 1.473 7.172 2.86 5.76 3.054 6.09 6.1 7.39 11.714.714 3.086.233 4.003 2.173 6.665 1.138 1.562 4.83 1.908 5.359 4.144.489 2.07-.396 3.916-2.067 5.48 3.903 1.56 6.94 1.272 11.246 1.907 5.056.747 4.738 3.694 7.99 4.712"
                  fill="#E8EDF2"
                  class="chung-buk"
                />
                <path
                  d="M249.69 438.084c3.413 1.069 8.255-1.54 11.396-2.038 8.724-1.381 13.386.55 19.202-6.202 1.63-1.892 5.984-5.993 6.399-8.34.653-3.702-2.866-5.477-2.754-9.406 6.224-.86 12.57-7.195 7.736-13.99-3.82-5.367-16.213 4.008-15.978-4.742-3.85.068-6.68.85-10.493-.886-.853-5.649 4.444-8.012 5.28-12.552.982-5.347-4.15-8.452-4.06-12.717.124-5.776 5.345-7.257 4.693-14.053-.641-6.683-3.283-8.25-8.725-10.658-13.572-6.01.65-10.388 7.34-15.414 6.181-4.644 7.352-4.415 14.608-3.191 6.543 1.103 10.896 1.434 10.061-6.833-.577-5.709-3.072-8.424 3.605-11.886 5.679-2.945 10.819.291 16.446-.263 3.124-14.103 16.343 1.68 21.325 3.644 9.725 3.835 19.469-4.116 19.602-14.257.099-7.537-2.616-8.47 4.645-11.314 5.11-2.002 7.688-2.586 11.496-6.666 2.62-2.805 8.932-8.491 13.473-13.532-3.3-1.693-6.236-2.853-10.968-2.58-5.852.336-10.145 2.52-15.225-1.417-.224-7.68-16.058-9.455-21.489-9.23-5.442.228-9.883.764-6.698-4.042 2.04-3.078 7.35-.378 5.245-7.235-7.405.437-13.279-1.43-20.604-1.44-5.135-.008-6.038-.799-10.728 2.005-4.221 2.523-5.83 4.936-11.232 3.897-1.51-7.224-7.802-14.82-15.523-7.253-4.382 4.292-2.868 17.486-12.666 14.218-8.193-2.733-5-11.065-16.229-7.7-6.267 1.877-12.642 3.5-19.641.75-.984.7-1.941 1.564-2.903 2.741-4.092 5.013-5.993 10.94-8.523 16.78-3.483 8.043-5.635 6.463-12.901 8.621-5.035 1.496-7.253 5.632-11.183 8.725-3.2 2.517-8.012 5.448-12.654 6.757a29.486 29.486 0 0 0-.862 8.003c.025.931.807 1.655 1.738 1.642.478-.006.974.004 1.441-.014a1.308 1.308 0 0 1 1.346 1.482c-.243 1.813-.847 4.107-.546 4.855 1.218 3.035 2.65 1.144 4.207 3.18 2.818 3.686 4.79 6.488 1.876 10.714-4.887 7.083-15.987 7.832-19.271 17.006-4.183 11.68 1.756 14.235 9.91 18.586 4.344 2.318 18.26 9.03 18.564 14.28 3.836-1.386 5.929-3.8 10.715-3.502-.918 9.8 20.321 5.173 6.3 16.778-4.48 3.708-8.121 7.605-11.112 12.032a15.729 15.729 0 0 1 1.57 2.507c1.87 3.679-.62 3.79 3.487 6.668 2.593 1.816 4.557 1.473 7.172 2.86 5.76 3.054 6.09 6.1 7.39 11.714.714 3.086.233 4.003 2.173 6.665 1.138 1.562 4.83 1.908 5.359 4.144.489 2.07-.396 3.916-2.067 5.48 3.903 1.56 6.94 1.272 11.246 1.907 5.056.747 4.738 3.694 7.99 4.712z"
                  stroke="#ABB3B9"
                  stroke-linecap="round"
                />
                <!-- 경상북도 -->
                <path
                  d="M526.498 414.02c-5.732 2.515-11.9 14.354-19.184 16.632-.73.228-1.527-.131-1.794-.848-1.226-3.294-4.584-4.856-7.986-5.545-.336-.772-.868-3.294-.894-4.029 2.017-.875 5.218-2.03 6.757-3.933 4.455-5.515 1.748-.998-.39-6.677-1.972-5.238-3.248-12.279-5.618-18.309-5.624-14.31 6.766-21.6 7.483-35.9.294-5.876 3.183-14.21.689-19.77-4.141-9.233-7.071-5.398-.504-14.985 11.419-16.674-4.378-34.293-5.89-51.18-8.113-.994-16.23-2.706-24.176-3.887-6.68-.992-8.306-4.543-13.856-6.865-5.764-2.412-10.152 2.423-15.556 1.55-5.819-.94-7.779-5.258-14.557-3.944-3.795.735-8.863 5.663-14.289 2.59-2.182-1.235-1.825-4.451-3.375-5.262-6.633-3.47-9.618 3.034-11.897 7.27-3.53 6.559-5.216 7.58-12.032 4.176-1.645-.821-3.074-1.614-4.442-2.316-4.541 5.04-10.853 10.727-13.473 13.532-3.808 4.08-6.386 4.664-11.496 6.666-7.26 2.843-4.546 3.777-4.645 11.314-.133 10.141-9.877 18.092-19.602 14.257-4.982-1.964-18.2-17.747-21.325-3.644-5.627.554-10.767-2.682-16.446.263-6.677 3.462-4.181 6.177-3.605 11.886.835 8.267-3.518 7.936-10.061 6.833-7.256-1.224-8.427-1.453-14.608 3.19-6.69 5.027-20.911 9.405-7.34 15.414 5.442 2.41 8.084 3.976 8.725 10.66.652 6.795-4.57 8.276-4.692 14.052-.092 4.265 5.04 7.37 4.058 12.717-.835 4.54-6.132 6.903-5.279 12.552 3.812 1.736 6.643.954 10.493.886-.235 8.75 12.158-.625 15.978 4.742 4.835 6.795-1.512 13.13-7.736 13.99-.112 3.93 3.407 5.704 2.754 9.407-.415 2.347-4.769 6.447-6.399 8.34-2.33 2.705-4.476 4.014-6.771 4.704 4.25 6.521 6.127 13 2.53 22.79 4.902.045 8.046 6.246 12.429 8.14 6.464 2.793 14.798-.459 21.407 2.488 3.703 1.651 11.407 8.533 14.204 12.164 4.342 5.636 2.59 15.158 1.26 21.326 7.137.562 14.19-3.402 20.128-.012 4.51 2.574 11.428 11.764 11.356 1.096a1.559 1.559 0 0 1 1.594-1.566c4.91.116 10.952 1.264 11.738-4.665 1.032-.291 2.759-.29 3.793 0 .24 13.909 14.145 13.112 24.165 14.605 3.793.564 13.783 1.478 17.229-.151 4.867-2.301 4.173-7.773 8.974-9.727 10.716-4.364 18.862 9.825 28.477-.953 3.878-4.348.745-9.432 6.149-12.043 2.511-1.214 5.414.39 7.502-.003 3.125-.586 4.076-2.356 7.023-3.34 12.175-4.061 9.043 16.302 20.755 13.434 3.4-.833 6.677-5.694 10.811-6.6 2.19-.48 4.612-.29 7.005-.118 1.253-2.816 4.21-5.81 5.34-8.764 1.597-4.175 1.305-9.832 2.452-14.178 1.075-4.071 3.25-7.378 4.361-11.436 1.433-5.235-1.055-7.289-1.032-12.676.025-5.457 6.206-7.567 7.879-13.195 1.3-4.375.94-10.579-.55-15.302-.526-1.666-2.398-2.544-3.998-1.842"
                  fill="#E8EDF2"
                  class="gyeong-buk"
                />
                <path
                  d="M526.498 414.02c-5.732 2.515-11.9 14.354-19.184 16.632-.73.228-1.527-.131-1.794-.848-1.226-3.294-4.584-4.856-7.986-5.545-.336-.772-.868-3.294-.894-4.029 2.017-.875 5.218-2.03 6.757-3.933 4.455-5.515 1.748-.998-.39-6.677-1.972-5.238-3.248-12.279-5.618-18.309-5.624-14.31 6.766-21.6 7.483-35.9.294-5.876 3.183-14.21.689-19.77-4.141-9.233-7.071-5.398-.504-14.985 11.419-16.674-4.378-34.293-5.89-51.18-8.113-.994-16.23-2.706-24.176-3.887-6.68-.992-8.306-4.543-13.856-6.865-5.764-2.412-10.152 2.423-15.556 1.55-5.819-.94-7.779-5.258-14.557-3.944-3.795.735-8.863 5.663-14.289 2.59-2.182-1.235-1.825-4.451-3.375-5.262-6.633-3.47-9.618 3.034-11.897 7.27-3.53 6.559-5.216 7.58-12.032 4.176-1.645-.821-3.074-1.614-4.442-2.316-4.541 5.04-10.853 10.727-13.473 13.532-3.808 4.08-6.386 4.664-11.496 6.666-7.26 2.843-4.546 3.777-4.645 11.314-.133 10.141-9.877 18.092-19.602 14.257-4.982-1.964-18.2-17.747-21.325-3.644-5.627.554-10.767-2.682-16.446.263-6.677 3.462-4.181 6.177-3.605 11.886.835 8.267-3.518 7.936-10.061 6.833-7.256-1.224-8.427-1.453-14.608 3.19-6.69 5.027-20.911 9.405-7.34 15.414 5.442 2.41 8.084 3.976 8.725 10.66.652 6.795-4.57 8.276-4.692 14.052-.092 4.265 5.04 7.37 4.058 12.717-.835 4.54-6.132 6.903-5.279 12.552 3.812 1.736 6.643.954 10.493.886-.235 8.75 12.158-.625 15.978 4.742 4.835 6.795-1.512 13.13-7.736 13.99-.112 3.93 3.407 5.704 2.754 9.407-.415 2.347-4.769 6.447-6.399 8.34-2.33 2.705-4.476 4.014-6.771 4.704 4.25 6.521 6.127 13 2.53 22.79 4.902.045 8.046 6.246 12.429 8.14 6.464 2.793 14.798-.459 21.407 2.488 3.703 1.651 11.407 8.533 14.204 12.164 4.342 5.636 2.59 15.158 1.26 21.326 7.137.562 14.19-3.402 20.128-.012 4.51 2.574 11.428 11.764 11.356 1.096a1.559 1.559 0 0 1 1.594-1.566c4.91.116 10.952 1.264 11.738-4.665 1.032-.291 2.759-.29 3.793 0 .24 13.909 14.145 13.112 24.165 14.605 3.793.564 13.783 1.478 17.229-.151 4.867-2.301 4.173-7.773 8.974-9.727 10.716-4.364 18.862 9.825 28.477-.953 3.878-4.348.745-9.432 6.149-12.043 2.511-1.214 5.414.39 7.502-.003 3.125-.586 4.076-2.356 7.023-3.34 12.175-4.061 9.043 16.302 20.755 13.434 3.4-.833 6.677-5.694 10.811-6.6 2.19-.48 4.612-.29 7.005-.118 1.253-2.816 4.21-5.81 5.34-8.764 1.597-4.175 1.305-9.832 2.452-14.178 1.075-4.071 3.25-7.378 4.361-11.436 1.433-5.235-1.055-7.289-1.032-12.676.025-5.457 6.206-7.567 7.879-13.195 1.3-4.375.94-10.579-.55-15.302-.526-1.666-2.398-2.544-3.998-1.842z"
                  stroke="#ABB3B9"
                  stroke-linecap="round"
                />
                <path
                  d="M384.752 430.849c-7.034.347-14.8 3.304-16.714 10.544-1.113 4.208-.092 6.933-3.208 10.195-2.147 2.245-7.934 2.218-8.166 5.835-.48 7.471 19.671-1.125 23.275-.589 2.178 9.56 13.613-.72 18.848-.73 4.34-.01 5.822 3.02 8.543-1.339 2.168-3.473 1.68-18.735-.731-22.388-4.154-6.294-15.63-1.835-21.847-1.528"
                  fill="#E8EDF2"
                  class="daegu"
                />
                <path
                  d="M384.752 430.849c-7.034.347-14.8 3.304-16.714 10.544-1.113 4.208-.092 6.933-3.208 10.195-2.147 2.245-7.934 2.218-8.166 5.835-.48 7.471 19.671-1.125 23.275-.589 2.178 9.56 13.613-.72 18.848-.73 4.34-.01 5.822 3.02 8.543-1.339 2.168-3.473 1.68-18.735-.731-22.388-4.154-6.294-15.63-1.835-21.847-1.528z"
                  stroke="#ABB3B9"
                />
                <path
                  d="M511.483 493.416c.055-.655.26-1.323.563-2.002-2.393-.172-4.814-.362-7.005.118-4.134.906-7.412 5.767-10.811 6.6-11.712 2.868-8.58-17.495-20.755-13.434-2.947.984-3.898 2.754-7.023 3.34-2.088.393-4.99-1.21-7.502.003-5.386 2.603-2.294 7.661-6.113 11.999 3.363 4.08 5.466 9.013 4.893 14.1 4.987 1.855 7.47 2.892 11.933 6.116 4.182 3.023 8.067 4.399 12.164 8.707 5.402 5.68 12.093 7.73 18.539 11.124 4.517-4.363 8.27-10.992 2.156-15.215-4.214-10.642 10.245-8.776 11.476-18.984.601-4.98-2.9-7.896-2.515-12.472"
                  fill="#E8EDF2"
                  class="ulsan"
                />
                <path
                  d="M511.483 493.416c.055-.655.26-1.323.563-2.002-2.393-.172-4.814-.362-7.005.118-4.134.906-7.412 5.767-10.811 6.6-11.712 2.868-8.58-17.495-20.755-13.434-2.947.984-3.898 2.754-7.023 3.34-2.088.393-4.99-1.21-7.502.003-5.386 2.603-2.294 7.661-6.113 11.999 3.363 4.08 5.466 9.013 4.893 14.1 4.987 1.855 7.47 2.892 11.933 6.116 4.182 3.023 8.067 4.399 12.164 8.707 5.402 5.68 12.093 7.73 18.539 11.124 4.517-4.363 8.27-10.992 2.156-15.215-4.214-10.642 10.245-8.776 11.476-18.984.601-4.98-2.9-7.896-2.515-12.472z"
                  stroke="#ABB3B9"
                />
                <g>
                  <path
                    d="M475.664 567.731c-3.419-.392-6.928-3.014-10.18-4.494-6.344-2.887-16.67-8.48-23.929-4.045-5.618 3.432-3.304 16.128-5.834 22.061-1.779 4.17-4.296 7.625-6.459 11.274 5.714-1.584 12.4-2.268 10.692 3.724-.304 1.067.588 2.101 1.681 1.91 3.038-.534 3.027-4.081 6.677-5.592 3.748-1.551 6.953-.514 10.678-.343a1.898 1.898 0 0 0 1.956-1.593c1.205-7.405 1.863-12.16 9.17-16.356 4.869-2.797 8.326-3.62 10.527-6.602-1.622.162-3.266.252-4.98.056"
                    fill="#E8EDF2"
                    class="busan"
                  />
                  <path
                    d="M475.664 567.731c-3.419-.392-6.928-3.014-10.18-4.494-6.344-2.887-16.67-8.48-23.929-4.045-5.618 3.432-3.304 16.128-5.834 22.061-1.779 4.17-4.296 7.625-6.459 11.274 5.714-1.584 12.4-2.268 10.692 3.724-.304 1.067.588 2.101 1.681 1.91 3.038-.534 3.027-4.081 6.677-5.592 3.748-1.551 6.953-.514 10.678-.343a1.898 1.898 0 0 0 1.956-1.593c1.205-7.405 1.863-12.16 9.17-16.356 4.869-2.797 8.326-3.62 10.527-6.602-1.622.162-3.266.252-4.98.056z"
                    stroke="#ABB3B9"
                  />
                </g>
                <g>
                  <!-- 경상남도 -->
                  <path
                    d="M481.827 528.963c-4.097-4.308-7.982-5.684-12.164-8.707-4.462-3.224-6.946-4.261-11.933-6.116.573-5.087-1.53-10.019-4.893-14.1-.012.015-.023.03-.036.044-9.615 10.778-17.761-3.411-28.477.953-4.8 1.954-4.107 7.426-8.974 9.727-3.446 1.629-13.436.715-17.229.15-10.02-1.492-23.926-.695-24.165-14.604-1.034-.29-2.761-.291-3.793 0-.79 5.961-6.896 4.768-11.82 4.663a1.487 1.487 0 0 0-1.513 1.508c.099 10.763-6.838 1.542-11.355-1.037-5.939-3.39-12.991.575-20.128.013 1.33-6.168 3.082-15.69-1.26-21.326-2.797-3.63-10.5-10.513-14.204-12.164-6.61-2.947-14.943.305-21.407-2.488-4.383-1.894-7.527-8.095-12.43-8.14.345-.938.639-1.845.886-2.726-3.929 2.34-8.226 5.28-11.016 6.316-6.823 2.533-12.954 4.533-18.032 10.714-5.696 6.935-5.653 17.164-7.67 25.231-1.522 6.096-8.967 18.375 1.39 18.152 1.474 5.394-1.435 8.413-1.233 13.268.198 4.762 5.94 6.133 6.026 10.012.073 3.257-5.67 6.26-7.405 10.007-2.427 5.241-1.299 7.41-8.552 8.156-.505 4.078 5.301 14.057 7.737 17.983 3.296 5.311 8.63 9.587 12.015 14.709 4.803 7.269 10.654 17.438 11.661 27.088.702-.644 1.345-1.19 1.894-1.484 4.831-2.584 9.134-2.206 13.926-3.492 1.803-.483 3.939-2.721 5.987-3.16 2.73-.585 4.756 1.737 7.566.915 4.684-1.372 6.421-5.881 11.541-6.528.914-.116 1.759.512 1.94 1.415.903 4.517-.049 8.088 2.926 11.097 2.655 2.686 7.839 3.968 10.376 1.548a.878.878 0 0 1 1.4.278c1.581 3.43 4.69 8.185 10.044 6.202 2.146-.796 5.89-11.54 8.17-4.919a2.129 2.129 0 0 0 2.307 1.432c5.035-.721 12.588-3.99 11.038 4.275-13.944-.111 10.749 10.878-.341 11.073a1.354 1.354 0 0 0-1.33 1.218c-.115 1.182-.038 2.56.236 3.487 1.476 1.054 2.972 2.427 4.157 3.326 1.313.244 2.57.148 3.89.023 2.992-8.093-2.177-11.82-.748-19.042.792-4.006 11.137-9.744 3.51-13.408-.873-8.56 15.168-4.111 12.205-15.53-.786-.211-1.45-.032-2.23-.264-1.114-2.714-1.71-5.288-1.726-8.189a2.046 2.046 0 0 1 1.445-1.952c6.262-1.958 10.372-3.622 9.41 6 1.857.728 5.235 1.101 7.232.831.755-3.094 1.226-6.354 1.04-9.726-.005-.107 22.556 3.53 24.695 5.862 3.023 3.295 2.23 9.784 3.74 14.548a3.624 3.624 0 0 0 2.57 2.42c.939.237 1.959.374 2.957.397 1.408.032 2.578-1.067 2.66-2.473.13-2.187-.085-4.315-.897-6.157-.369-.837.012-1.783.866-2.109a56.953 56.953 0 0 1 4.953-1.636c2.163-3.649 4.68-7.103 6.46-11.274 2.529-5.933.215-18.629 5.833-22.06 7.26-4.435 17.585 1.157 23.929 4.044 3.252 1.48 6.761 4.102 10.18 4.494 1.713.196 3.357.106 4.98-.056 1.135-1.538 1.937-3.652 2.424-6.91 1.69-11.3 3.088-11.583 12.842-17.23 1.343-.777 2.942-1.986 4.456-3.448-6.446-3.394-13.137-5.444-18.54-11.124"
                    fill="#E8EDF2"
                    class="gyeong-nam"
                  />
                  <path
                    d="M481.827 528.963c-4.097-4.308-7.982-5.684-12.164-8.707-4.462-3.224-6.946-4.261-11.933-6.116.573-5.087-1.53-10.019-4.893-14.1-.012.015-.023.03-.036.044-9.615 10.778-17.761-3.411-28.477.953-4.8 1.954-4.107 7.426-8.974 9.727-3.446 1.629-13.436.715-17.229.15-10.02-1.492-23.926-.695-24.165-14.604-1.034-.29-2.761-.291-3.793 0-.79 5.961-6.896 4.768-11.82 4.663a1.487 1.487 0 0 0-1.513 1.508c.099 10.763-6.838 1.542-11.355-1.037-5.939-3.39-12.991.575-20.128.013 1.33-6.168 3.082-15.69-1.26-21.326-2.797-3.63-10.5-10.513-14.204-12.164-6.61-2.947-14.943.305-21.407-2.488-4.383-1.894-7.527-8.095-12.43-8.14.345-.938.639-1.845.886-2.726-3.929 2.34-8.226 5.28-11.016 6.316-6.823 2.533-12.954 4.533-18.032 10.714-5.696 6.935-5.653 17.164-7.67 25.231-1.522 6.096-8.967 18.375 1.39 18.152 1.474 5.394-1.435 8.413-1.233 13.268.198 4.762 5.94 6.133 6.026 10.012.073 3.257-5.67 6.26-7.405 10.007-2.427 5.241-1.299 7.41-8.552 8.156-.505 4.078 5.301 14.057 7.737 17.983 3.296 5.311 8.63 9.587 12.015 14.709 4.803 7.269 10.654 17.438 11.661 27.088.702-.644 1.345-1.19 1.894-1.484 4.831-2.584 9.134-2.206 13.926-3.492 1.803-.483 3.939-2.721 5.987-3.16 2.73-.585 4.756 1.737 7.566.915 4.684-1.372 6.421-5.881 11.541-6.528.914-.116 1.759.512 1.94 1.415.903 4.517-.049 8.088 2.926 11.097 2.655 2.686 7.839 3.968 10.376 1.548a.878.878 0 0 1 1.4.278c1.581 3.43 4.69 8.185 10.044 6.202 2.146-.796 5.89-11.54 8.17-4.919a2.129 2.129 0 0 0 2.307 1.432c5.035-.721 12.588-3.99 11.038 4.275-13.944-.111 10.749 10.878-.341 11.073a1.354 1.354 0 0 0-1.33 1.218c-.115 1.182-.038 2.56.236 3.487 1.476 1.054 2.972 2.427 4.157 3.326 1.313.244 2.57.148 3.89.023 2.992-8.093-2.177-11.82-.748-19.042.792-4.006 11.137-9.744 3.51-13.408-.873-8.56 15.168-4.111 12.205-15.53-.786-.211-1.45-.032-2.23-.264-1.114-2.714-1.71-5.288-1.726-8.189a2.046 2.046 0 0 1 1.445-1.952c6.262-1.958 10.372-3.622 9.41 6 1.857.728 5.235 1.101 7.232.831.755-3.094 1.226-6.354 1.04-9.726-.005-.107 22.556 3.53 24.695 5.862 3.023 3.295 2.23 9.784 3.74 14.548a3.624 3.624 0 0 0 2.57 2.42c.939.237 1.959.374 2.957.397 1.408.032 2.578-1.067 2.66-2.473.13-2.187-.085-4.315-.897-6.157-.369-.837.012-1.783.866-2.109a56.953 56.953 0 0 1 4.953-1.636c2.163-3.649 4.68-7.103 6.46-11.274 2.529-5.933.215-18.629 5.833-22.06 7.26-4.435 17.585 1.157 23.929 4.044 3.252 1.48 6.761 4.102 10.18 4.494 1.713.196 3.357.106 4.98-.056 1.135-1.538 1.937-3.652 2.424-6.91 1.69-11.3 3.088-11.583 12.842-17.23 1.343-.777 2.942-1.986 4.456-3.448-6.446-3.394-13.137-5.444-18.54-11.124z"
                    stroke="#ABB3B9"
                    stroke-linecap="round"
                  />
                </g>
                <g>
                  <!-- 전라남도 -->
                  <path
                    d="M208.134 550.207c-7.025 2.91-9.579 7.038-18.757 4.343-4.82-1.416-8.54-4.86-13.867-4.212-3.422.416-5.583 3.248-8.638 4.212-4.714 1.486-9.87.32-12.588-4.33-1.414-2.418-1.845-6.134-2.844-8.57-.238-.58-2.45-5.787-2.637-6.018-5.583-6.902-5.39.42-11.381.681-5.748.252-7.153-5.92-11.179-8.855-11.8-8.603-16.12 7.265-21.089 14.022-6.012 8.176-23.279 13.628-33.138 10.094-.296-4.938 1.3-9.063-.886-13.805-3.46-.204-8.203-.96-11.247 1.04-3.533 2.322-2.459 9.29-5.332 10.253-1.36.456-3.679-1.971-6.323-4.382-3.693.07-5.74 3.042-5.868 6.663-.032.922-.839 1.616-1.76 1.564-8.83-.501-6.986 10.6-4.05 15.547 3.468 5.846 8.258 10.681 11.642 16.628 5.95 10.458-2.127 10.193-8.152 16.38-1.064 1.093-.56 4.24-1.808 5.676-.887 1.021-3.422 1.936-4.592 2.91-1.311 1.092-2.726 1.963-4.061 2.915-1.458 1.038-.544 3.35 1.23 3.113 4.865-.652 9.768-2.191 14.118-1.122 1.646 3.02.954 12.837.33 18.588-.158 1.45-1.156 2.694-2.558 3.096-1.487.426-2.794 1.22-3.712 2.356-.942 1.166-.128 2.913 1.37 2.961 8.102.264 31.564 3.443 28.702 19.289-4.464.868-7.715-1.546-11.74-1.612-1.18-.02-2.09 1.056-1.885 2.218.378 2.147 1.077 4.253 1.985 6.007-5.552 3.042-17.341-3.986-23.725-6.309a1.463 1.463 0 0 1-.96-1.373v-.032a1.679 1.679 0 0 1 .904-1.509c2.414-1.22 3.7-3.714 3.896-6.447.1-1.41-.684-2.74-1.964-3.338-11.321-5.293-11.691 11.99-6.087 18.964 4.604 5.728 16.514 12.506 24.675 12.83 1.01.04 1.889.712 2.218 1.669 2.077 6.043 4.785 18.888 1.178 21.997-.559.482-.858 1.2-.875 1.938-.003.117-.004.235-.003.352.01 1.091.66 2.07 1.662 2.5 2.85 1.224 4.43 3.789 4.321 7.024 7.072 1.93 13.452 1.663 15.876-6.529 2.75-9.287-5.381-11.458 6.45-13.303 10.05-1.567 11.775-2.251 12.47-13.346.534-8.53-1.535-14.952 9.001-14.795 3.052 8.378-.978 16.166-.715 24.227.038 1.14.75 2.15 1.802 2.591.4.168.794.342 1.235.467a2.137 2.137 0 0 1 1.493 1.496c.165.614.247 1.194.38 1.897-3.669 1.181-8.352 1.76-8.122 6.44 5.455 2.047 10.574-.414 15.712 1.004 4.448 1.227 7.098 5.164 12.304 4.903 4.61-7.869-6.713-9.82-9.246-15.81a2.88 2.88 0 0 1 1.88-3.888c4.306-1.19 6.341.073 10.12 1.462 1.33.49 2.83-.122 3.4-1.42 3.057-6.975-.644-13.061-.375-19.848.056-1.409 1.014-2.612 2.354-3.05.686-.224 1.348-.499 2.075-.65a3.039 3.039 0 0 0 2.098-1.58c4.745-9.253 18.773-6.351 25.904-15.162 3.677-4.544 8.083-11.514 16.022-7.154 3.841 2.108 6.907 12.333.793 12.333a2.192 2.192 0 0 1-1.97-1.213c-4.015-8.173-8.501-.722-11.128 3.034-3.428 4.9-9.438 6.848-13.32 12.33-4.404 6.218-3.277 10.776 3.16 13.258 2.954 1.138 6.423-.238 9.368 1.44 2.4 1.369 3.407 4.474 5.37 6.251 7.46 6.753 9.434 4.493 15.814-.227 2.767-2.046 2.98-4.246 6.861-4.136 6.882.195 2.298 2.137 5.573 5.84 4.584 5.182 11.399 9.451 12.762-.02 1.126-7.827-5.398-11.876-11.68-14.781-2.447-1.131-9.787-1.41-9.204-6.005.676-5.345 9.397-.774 12.342-1.478 10.623-2.541 1.176-14.067-3.347-19.958-5.366-6.989-8.34-14.888-1.477-21.8 2.525-2.543 7.678-6.01 11.676-4.217 2.386 1.07 3.065 4.368 4.75 6.697a2.06 2.06 0 0 0 3.433-.137c2.768-4.578 2.126-11.847 6.101-14.65 4.494-3.168 14.228.358 20.138.08a1.63 1.63 0 0 1 1.581 1.01c2.419 5.788 6.486 1.27 9.48-1.477-1.007-9.65-6.858-19.82-11.661-27.088-3.385-5.122-8.72-9.397-12.015-14.709-2.436-3.926-8.242-13.905-7.737-17.983a24.004 24.004 0 0 0 2.098-.301c-6.649-5.972-14.497-10.065-24.404-5.961"
                    fill="#E8EDF2"
                    class="jeon-nam"
                  />
                  <path
                    d="M208.134 550.207c-7.025 2.91-9.579 7.038-18.757 4.343-4.82-1.416-8.54-4.86-13.867-4.212-3.422.416-5.583 3.248-8.638 4.212-4.714 1.486-9.87.32-12.588-4.33-1.414-2.418-1.845-6.134-2.844-8.57-.238-.58-2.45-5.787-2.637-6.018-5.583-6.902-5.39.42-11.381.681-5.748.252-7.153-5.92-11.179-8.855-11.8-8.603-16.12 7.265-21.089 14.022-6.012 8.176-23.279 13.628-33.138 10.094-.296-4.938 1.3-9.063-.886-13.805-3.46-.204-8.203-.96-11.247 1.04-3.533 2.322-2.459 9.29-5.332 10.253-1.36.456-3.679-1.971-6.323-4.382-3.693.07-5.74 3.042-5.868 6.663-.032.922-.839 1.616-1.76 1.564-8.83-.501-6.986 10.6-4.05 15.547 3.468 5.846 8.258 10.681 11.642 16.628 5.95 10.458-2.127 10.193-8.152 16.38-1.064 1.093-.56 4.24-1.808 5.676-.887 1.021-3.422 1.936-4.592 2.91-1.311 1.092-2.726 1.963-4.061 2.915-1.458 1.038-.544 3.35 1.23 3.113 4.865-.652 9.768-2.191 14.118-1.122 1.646 3.02.954 12.837.33 18.588-.158 1.45-1.156 2.694-2.558 3.096-1.487.426-2.794 1.22-3.712 2.356-.942 1.166-.128 2.913 1.37 2.961 8.102.264 31.564 3.443 28.702 19.289-4.464.868-7.715-1.546-11.74-1.612-1.18-.02-2.09 1.056-1.885 2.218.378 2.147 1.077 4.253 1.985 6.007-5.552 3.042-17.341-3.986-23.725-6.309a1.463 1.463 0 0 1-.96-1.373v-.032a1.679 1.679 0 0 1 .904-1.509c2.414-1.22 3.7-3.714 3.896-6.447.1-1.41-.684-2.74-1.964-3.338-11.321-5.293-11.691 11.99-6.087 18.964 4.604 5.728 16.514 12.506 24.675 12.83 1.01.04 1.889.712 2.218 1.669 2.077 6.043 4.785 18.888 1.178 21.997-.559.482-.858 1.2-.875 1.938-.003.117-.004.235-.003.352.01 1.091.66 2.07 1.662 2.5 2.85 1.224 4.43 3.789 4.321 7.024 7.072 1.93 13.452 1.663 15.876-6.529 2.75-9.287-5.381-11.458 6.45-13.303 10.05-1.567 11.775-2.251 12.47-13.346.534-8.53-1.535-14.952 9.001-14.795 3.052 8.378-.978 16.166-.715 24.227.038 1.14.75 2.15 1.802 2.591.4.168.794.342 1.235.467a2.137 2.137 0 0 1 1.493 1.496c.165.614.247 1.194.38 1.897-3.669 1.181-8.352 1.76-8.122 6.44 5.455 2.047 10.574-.414 15.712 1.004 4.448 1.227 7.098 5.164 12.304 4.903 4.61-7.869-6.713-9.82-9.246-15.81a2.88 2.88 0 0 1 1.88-3.888c4.306-1.19 6.341.073 10.12 1.462 1.33.49 2.83-.122 3.4-1.42 3.057-6.975-.644-13.061-.375-19.848.056-1.409 1.014-2.612 2.354-3.05.686-.224 1.348-.499 2.075-.65a3.039 3.039 0 0 0 2.098-1.58c4.745-9.253 18.773-6.351 25.904-15.162 3.677-4.544 8.083-11.514 16.022-7.154 3.841 2.108 6.907 12.333.793 12.333a2.192 2.192 0 0 1-1.97-1.213c-4.015-8.173-8.501-.722-11.128 3.034-3.428 4.9-9.438 6.848-13.32 12.33-4.404 6.218-3.277 10.776 3.16 13.258 2.954 1.138 6.423-.238 9.368 1.44 2.4 1.369 3.407 4.474 5.37 6.251 7.46 6.753 9.434 4.493 15.814-.227 2.767-2.046 2.98-4.246 6.861-4.136 6.882.195 2.298 2.137 5.573 5.84 4.584 5.182 11.399 9.451 12.762-.02 1.126-7.827-5.398-11.876-11.68-14.781-2.447-1.131-9.787-1.41-9.204-6.005.676-5.345 9.397-.774 12.342-1.478 10.623-2.541 1.176-14.067-3.347-19.958-5.366-6.989-8.34-14.888-1.477-21.8 2.525-2.543 7.678-6.01 11.676-4.217 2.386 1.07 3.065 4.368 4.75 6.697a2.06 2.06 0 0 0 3.433-.137c2.768-4.578 2.126-11.847 6.101-14.65 4.494-3.168 14.228.358 20.138.08a1.63 1.63 0 0 1 1.581 1.01c2.419 5.788 6.486 1.27 9.48-1.477-1.007-9.65-6.858-19.82-11.661-27.088-3.385-5.122-8.72-9.397-12.015-14.709-2.436-3.926-8.242-13.905-7.737-17.983a24.004 24.004 0 0 0 2.098-.301c-6.649-5.972-14.497-10.065-24.404-5.961z"
                    stroke="#ABB3B9"
                  />
                </g>
                <g>
                  <path
                    d="M273.516 434.549c-3.433 1.03-7.202.67-12.43 1.497-3.141.498-7.983 3.107-11.395 2.038-3.252-1.018-2.934-3.965-7.99-4.712-4.306-.635-7.343-.347-11.246-1.906-4.834 4.529-16.265 6.714-20.171 5.214-8.634-3.314-11.676-14.592-22.025-16.043-5.305-.743-11.28 1.336-16.077 2.544-3.047.767-12.713 4.205-15.407 2.87-4.767-2.36-1.663-8.113-7.974-10.043-5.297-1.62-10.531 1.027-16.058 1.321-6.113.326-10.153-.228-15.555 2.51-2.643 1.338-2.594 2.814-5.69 3.504-2.58.575-5.284-1.065-8.165-.664-4.615.644-8.04 4.457-12.538 5.865-1.854.58-3.821.936-5.84 1.155 1.199 1.579 2.23 3.188 2.995 4.826.672 1.439-.434 3.08-2.02 3.02-4.273-.162-9.118-.495-10.605 3.416-.132.345.11.73.478.758 1.043.08 1.881.533 2.693.97a2.765 2.765 0 0 1 1.392 3.024c-1.2 5.478.192 8.513 2.372 13.84 1.508 3.69 3.126 1.062 2.698 6.424-.25 3.148-3.337 5.821-4.777 8.5-1.53 2.847-.74 5.368-3.329 8.175-3.198 3.47-4.046 2-7.85 3.93-4.888 2.48-9.661 4.62-9.971 10.056a3.954 3.954 0 0 0 2.723 3.981c3.02.98 6.138 2.383 9.05 2.817 4.637.693 9.1-1.635 13.346-.874 15.669 2.805-3.158 7.916-8.354 9.795-7.394 2.674-15.998 2.782-21.619 9.35-6.829 7.981-5.173 12.793-4.378 21.24a1.588 1.588 0 0 1-1.555 1.733h-.016c2.644 2.41 4.963 4.838 6.323 4.382 2.873-.963 1.799-7.931 5.332-10.253 2.472-1.625 6.065-1.431 9.182-1.192a3.191 3.191 0 0 1 2.859 2.434c.921 3.83-.156 7.392.092 11.523 9.86 3.534 27.126-1.918 33.138-10.094 4.97-6.757 9.29-22.625 21.09-14.022 4.025 2.935 5.43 9.107 11.177 8.855 5.993-.261 5.8-7.583 11.382-.681.187.231 2.4 5.439 2.637 6.018 1 2.436 1.43 6.152 2.844 8.57 2.718 4.65 7.874 5.816 12.588 4.33 3.055-.964 5.216-3.796 8.638-4.212 5.327-.647 9.048 2.796 13.867 4.212 9.178 2.696 11.732-1.433 18.757-4.343 9.907-4.104 17.756-.011 24.404 5.96 4.945-.959 4.293-3.189 6.453-7.854 1.736-3.747 7.479-6.75 7.406-10.007-.086-3.879-5.829-5.25-6.027-10.012-.201-4.855 2.708-7.874 1.234-13.268-10.358.223-2.912-12.056-1.39-18.152 2.016-8.067 1.974-18.296 7.67-25.23 5.078-6.182 11.21-8.182 18.032-10.715 2.79-1.035 7.088-3.977 11.016-6.316 2.33-8.306.428-14.168-3.416-20.064"
                    fill="#E8EDF2"
                    class="jeon-buk"
                  />
                  <path
                    d="M273.516 434.549c-3.433 1.03-7.202.67-12.43 1.497-3.141.498-7.983 3.107-11.395 2.038-3.252-1.018-2.934-3.965-7.99-4.712-4.306-.635-7.343-.347-11.246-1.906-4.834 4.529-16.265 6.714-20.171 5.214-8.634-3.314-11.676-14.592-22.025-16.043-5.305-.743-11.28 1.336-16.077 2.544-3.047.767-12.713 4.205-15.407 2.87-4.767-2.36-1.663-8.113-7.974-10.043-5.297-1.62-10.531 1.027-16.058 1.321-6.113.326-10.153-.228-15.555 2.51-2.643 1.338-2.594 2.814-5.69 3.504-2.58.575-5.284-1.065-8.165-.664-4.615.644-8.04 4.457-12.538 5.865-1.854.58-3.821.936-5.84 1.155 1.199 1.579 2.23 3.188 2.995 4.826.672 1.439-.434 3.08-2.02 3.02-4.273-.162-9.118-.495-10.605 3.416-.132.345.11.73.478.758 1.043.08 1.881.533 2.693.97a2.765 2.765 0 0 1 1.392 3.024c-1.2 5.478.192 8.513 2.372 13.84 1.508 3.69 3.126 1.062 2.698 6.424-.25 3.148-3.337 5.821-4.777 8.5-1.53 2.847-.74 5.368-3.329 8.175-3.198 3.47-4.046 2-7.85 3.93-4.888 2.48-9.661 4.62-9.971 10.056a3.954 3.954 0 0 0 2.723 3.981c3.02.98 6.138 2.383 9.05 2.817 4.637.693 9.1-1.635 13.346-.874 15.669 2.805-3.158 7.916-8.354 9.795-7.394 2.674-15.998 2.782-21.619 9.35-6.829 7.981-5.173 12.793-4.378 21.24a1.588 1.588 0 0 1-1.555 1.733h-.016c2.644 2.41 4.963 4.838 6.323 4.382 2.873-.963 1.799-7.931 5.332-10.253 2.472-1.625 6.065-1.431 9.182-1.192a3.191 3.191 0 0 1 2.859 2.434c.921 3.83-.156 7.392.092 11.523 9.86 3.534 27.126-1.918 33.138-10.094 4.97-6.757 9.29-22.625 21.09-14.022 4.025 2.935 5.43 9.107 11.177 8.855 5.993-.261 5.8-7.583 11.382-.681.187.231 2.4 5.439 2.637 6.018 1 2.436 1.43 6.152 2.844 8.57 2.718 4.65 7.874 5.816 12.588 4.33 3.055-.964 5.216-3.796 8.638-4.212 5.327-.647 9.048 2.796 13.867 4.212 9.178 2.696 11.732-1.433 18.757-4.343 9.907-4.104 17.756-.011 24.404 5.96 4.945-.959 4.293-3.189 6.453-7.854 1.736-3.747 7.479-6.75 7.406-10.007-.086-3.879-5.829-5.25-6.027-10.012-.201-4.855 2.708-7.874 1.234-13.268-10.358.223-2.912-12.056-1.39-18.152 2.016-8.067 1.974-18.296 7.67-25.23 5.078-6.182 11.21-8.182 18.032-10.715 2.79-1.035 7.088-3.977 11.016-6.316 2.33-8.306.428-14.168-3.416-20.064z"
                    stroke="#ABB3B9"
                    stroke-linecap="round"
                  />
                </g>
                <g>
                  <path
                    d="M118.314 553.849c-1.446-.163-2.844.534-3.632 1.758-3.082 4.787-12.724 7.908-1.323 12.159 5.3 1.975 4.437-.637 8.188 3.811 2.072 2.457 3.262 6.612 6.337 8.372 4.467 2.557 6.697.917 9.537-1.52 1.281-1.1 1.528-3.507 3.18-4.879 1.263-1.047 4.342-.788 5.544-1.784 9.207-7.626-17.616-16.769-27.83-17.917"
                    fill="#E8EDF2"
                    class="gwangju"
                  />
                  <path
                    d="M118.314 553.849c-1.446-.163-2.844.534-3.632 1.758-3.082 4.787-12.724 7.908-1.323 12.159 5.3 1.975 4.437-.637 8.188 3.811 2.072 2.457 3.262 6.612 6.337 8.372 4.467 2.557 6.697.917 9.537-1.52 1.281-1.1 1.528-3.507 3.18-4.879 1.263-1.047 4.342-.788 5.544-1.784 9.207-7.626-17.616-16.769-27.83-17.917z"
                    stroke="#ABB3B9"
                  />
                </g>
                <g>
                  <!-- 제주도 -->
                  <path
                    d="M6.85 860.676s-8.605-15.981 0-18.44c8.605-2.458 14.751-7.375 24.586-14.751 9.834-7.376 38.108-14.752 49.171-17.21 11.064-2.459 34.421 8.605 30.733 17.21-3.688 8.605-9.834 19.668-11.064 24.586-1.23 4.917-2.458 11.064-9.834 9.834-7.376-1.229-22.128 0-25.815 1.23-3.688 1.23-22.128 9.834-25.815 8.605-3.688-1.23-8.606-2.459-12.294-2.459-3.687 0-8.605 9.835-11.063 4.917-2.459-4.917-8.605-13.522-8.605-13.522"
                    fill="#E8EDF2"
                    class="jeju"
                  />
                  <path
                    d="M6.85 860.676s-8.605-15.981 0-18.44c8.605-2.458 14.751-7.375 24.586-14.751 9.834-7.376 38.108-14.752 49.171-17.21 11.064-2.459 34.421 8.605 30.733 17.21-3.688 8.605-9.834 19.668-11.064 24.586-1.23 4.917-2.458 11.064-9.834 9.834-7.376-1.229-22.128 0-25.815 1.23-3.688 1.23-22.128 9.834-25.815 8.605-3.688-1.23-8.606-2.459-12.294-2.459-3.687 0-8.605 9.835-11.063 4.917-2.459-4.917-8.605-13.522-8.605-13.522z"
                    stroke="#ABB3B9"
                  />
                </g>
                <g>
                  <path
                    d="M627.643 224.186c-1.23 6.147 1.23 12.293 4.917 13.523 3.688 1.228 12.293 0 12.293 0l6.147-9.835s-22.127-9.834-23.357-3.688"
                    fill="#E8EDF2"
                  />
                  <path
                    d="M627.643 224.186c-1.23 6.147 1.23 12.293 4.917 13.523 3.688 1.228 12.293 0 12.293 0l6.147-9.835s-22.127-9.834-23.357-3.688z"
                    stroke="#ABB3B9"
                  />
                </g>
                <g>
                  <path
                    d="M137.371 160.804a1.303 1.303 0 0 1-1.199 1.198c-5.744.456-6.137-2.066-10.944 3.173-4.542 4.949-4.182 4.096-11.906 4.86-3.276.324-2.018-2.303-4.625.618-1.368 1.533-2.005 6.005-1.22 7.904.7 1.695 4.537 3.11 5.729 4.815 1.731 2.477.46 4.766 3.478 7.183 3.734 2.99 9.046 3.208 13.22 6.35 3.367 2.534 8.423 7.524 12.865 7.887 5.039.413 7.36-4.83 11.998-6.083 4.373-1.18 13.121 2.355 16.61-.62 7.563-6.45-6.758-14.307-8.585-18.727-2.178-5.27 3.192-10.06 1.97-15.27-.934-3.976-5.757-7.613-9.236-9.808-8.49-5.357-17.37-4.126-18.155 6.52"
                    fill="#E8EDF2"
                    class="seoul"
                  />
                  <path
                    d="M137.371 160.804a1.303 1.303 0 0 1-1.199 1.198c-5.744.456-6.137-2.066-10.944 3.173-4.542 4.949-4.182 4.096-11.906 4.86-3.276.324-2.018-2.303-4.625.618-1.368 1.533-2.005 6.005-1.22 7.904.7 1.695 4.537 3.11 5.729 4.815 1.731 2.477.46 4.766 3.478 7.183 3.734 2.99 9.046 3.208 13.22 6.35 3.367 2.534 8.423 7.524 12.865 7.887 5.039.413 7.36-4.83 11.998-6.083 4.373-1.18 13.121 2.355 16.61-.62 7.563-6.45-6.758-14.307-8.585-18.727-2.178-5.27 3.192-10.06 1.97-15.27-.934-3.976-5.757-7.613-9.236-9.808-8.49-5.357-17.37-4.126-18.155 6.52z"
                    stroke="#ABB3B9"
                    stroke-linecap="round"
                  />
                </g>
              </g>
            </svg>
          </div>

          <figcaption class="w-100 px-5 py-4 position-relative">
            <span
              class="
                text-gray text-nowrap text-12 text-lg-14 text-xl-18
                position-absolute
              "
              style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
            >
              1개 허브센터, 9개 RDC 센터
            </span>
            <img
              src="../assets/icon/logo-gray.svg"
              alt=""
              class="d-none d-lg-block ml-auto"
            />
          </figcaption>
        </figure>

        <!-- table -->

        <table class="w-100 mt-5">
          <tr class="bg-primary text-white text-12 text-lg-16 text-xl-18">
            <th
              class="font-weight-normal text-center border-right devide-3 py-3"
            >
              구분
            </th>
            <th class="font-weight-normal text-center border-right devide-3">
              배송지역
            </th>
            <th class="font-weight-normal text-center devide-3">소재지</th>
          </tr>

          <!-- tr *10 -->
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <!-- <td class="border-right py-3">HUB 센터</td> -->
            <td class="test border-right py-3">HUB 센터</td>
            <td class="border-right">긴급 대응(전국)</td>
            <td>경기 용인시</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">수도권1센터</td>
            <td class="border-right">서울, 인천, 경기</td>
            <td>경기 용인시</td>
          </tr>
          <tr
                  class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">수도권2센터</td>
            <td class="border-right">서울, 인천, 경기</td>
            <td>경기 안성시</td>
          </tr>
          <tr
                  class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">경남센터</td>
            <td class="border-right">부산, 울산, 경남</td>
            <td>경남 김해시</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">경북센터</td>
            <td class="border-right">대구, 경북</td>
            <td>경북 칠곡군</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">충청센터</td>
            <td class="border-right">대전, 세종, 충남, 충북</td>
            <td>세종시</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">전남센터</td>
            <td class="border-right">광주, 전남</td>
            <td>전남 장성군</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">전북센터</td>
            <td class="border-right">전북</td>
            <td>전북 익산시</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">제주센터</td>
            <td class="border-right">제주</td>
            <td>제주 제주시</td>
          </tr>
          <tr
            class="
              text-center
              border-bottom
              text-gray text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">강원센터</td>
            <td class="border-right">강원</td>
            <td>강원 원주시</td>
          </tr>
          <!-- /tr *10 -->

          <tr
            class="
              text-center
              border-bottom
              text-dark
              bg-light-gray
              text-12 text-lg-16 text-xl-18
            "
          >
            <td class="border-right py-3">합계</td>
            <td class="border-right">10개 센터</td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>

    <!-- --------------- -->
    <section class="py-5" style="background-color: #fbfcff">
      <div class="container">
        <h1
          class="
            font-weight-bold
            text-center text-26 text-lg-42 text-xl-56
            mt-5
            mb-5
          "
        >
          풀앳홈의 고객사
        </h1>

        <!-- tabs -->
        <section
          class="form-check form-check-inline d-flex justify-content-center"
        >
          <div class="tab-scroll mb-4">
            <div class="text-nowrap filter-buttons">
              <!-- tab-active-primary -->
              <!-- in main.js - 고객사 버튼 -->
            </div>
          </div>
        </section>

        <section>
          <div id="customers" class="row py-5">
            <!-- in main.js - 고객사 -->
          </div>
        </section>
      </div>
    </section>
    <!-- ---------------------------- -->
    <section class="position-relative">
      <img
        src="../assets/image/mobile-service-bg.png"
        alt=""
        class="w-100 d-none d-lg-block"
      />
      <img
        src="../assets/image/main-apply-mobile.png"
        alt=""
        class="w-100 d-lg-none mt-5"
      />
      <div class="container text-center position-absolute main-apply">
        <h1 class="font-weight-bold text-32 text-lg-56 text-xl-72 mb-4">
          전문 설치배송 <br class="d-lg-none" />
          서비스,<br class="d-none d-lg-block" />
          모바일에서도 신청하세요.
        </h1>
        <span class="text-gray text-14 text-lg-18 text-xl-22 d-block py-4">
          풀앳홈은 다양한 상품을 고객에게 <br class="d-lg-none" />
          안전하고 신속하게 설치・배송하고 <br class="d-none d-lg-block" />
          있습니다. 풀앳홈으로 다양한 설치 서비스를 누려보세요!
        </span>

        <div class="d-flex justify-content-center mt-lg-5">
          <button
            class="
              btn
              pill
              btn-primary
              text-white text-14 text-lg-20 text-xl-28
              py-2 py-lg-3
              d-flex
              justify-content-center
              align-items-center
              mx-2
              w-sm-130 w-280
              text-nowrap
            "
            onclick="soon()"
          >
            <i class="icon icon-google icon-sm-14 icon-32 mr-lg-2"></i>
            Google Play
          </button>
          <button
            class="
              btn
              pill
              btn-primary
              text-white text-14 text-lg-20 text-xl-28
              py-2 py-lg-3
              d-flex
              justify-content-center
              align-items-center
              mx-2
              w-sm-130 w-280
              text-nowrap
            "
            onclick="soon()"
          >
            <i class="icon icon-apple icon-sm-16 icon-32 mr-lg-2"></i>
            APP Store
          </button>
        </div>
      </div>
    </section>

    <script>
      function soon() {
        alert("준비중입니다.");
      }
      var agent = navigator.userAgent.toLowerCase();

      if( navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1 || (agent.indexOf("msie") != -1)) {
        console.log("Internet Explorer 브라우저입니다.");
        alert("Internet Explorer에서 정상적으로 동작하지 않을 수 있습니다.\nGoogle 크롬, 엣지 브라우저를 사용해주실 것을 권장드립니다.");
      }
    </script>
    <!-- footer ---------------------------- -->
    <footer class="global-footer"></footer>
  </body>
</html>
